<div class="bg-gray">
  <div class="container pt-5 pb-5 no-padding-top-app">
    <div class="row">
      <div class="col-lg-3">
        <app-menu-perfil [opcion]="4"></app-menu-perfil>
      </div>
      <div class="col-lg-9 no-padding-x-app">
        <div class="container-opcion bg-white">
          <div class="row">
            <div class="col-lg-12 content-help">
              <p class="title-help">HORARIO DE ATENCIÓN POR WHATSAPP:</p>
              <!-- <p class="text-help">- Lunes a Viernes de 09:00 a.m. a 06:00 p.m.</p> -->
              <p class="text-help">- Lunes a Viernes de HORARIO WHATSAPP.</p>
              <p class="title-help">TELÉFONO:</p>
              <!-- <p class="text-help">- Lima: 948 317 439</p> -->
              <p class="text-help">- CIUDAD: CELULAR</p>
              <!-- <p class="text-help">- Trujillo: 976 372 665</p> -->
              <p class="title-help">También puede hacernos llegar sus inquietudes a los siguientes correos:</p>
              <!-- <p class="text-help">- Lima: mmantilla@danper.com</p> -->
              <p class="text-help">- CIUDAD: CORREO</p>
              <!-- <p class="text-help">- Trujillo: casaverdeapt@danper.com</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>