<div>
  <button type="button" id="close" class="close close-web" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  <button type="button" id="close" class="close-app-promo close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  <img class="img-publicidad" src="../../../../../assets/img/promo.webp" alt="">
  <a [routerLink]="['/Catalogo/PROMOCIONES']" (click)="closeModal()">
    <button class="view-promocion">VER PROMOCIÓN</button>
  </a>
</div>