@media (min-width: 769px) {
    /deep/ .modal-publicidad {
        max-width: 600px !important;

        /deep/ .modal-content {
            width: 100% !important;
            left: 0% !important;

            img {
                width: 100%;
            }

            button.close{
                position: absolute;
                top: -20px;
                right: -20px;
                padding: 16px 8px 18px 8px;
                border-radius: 50px;
                background-color: #AAB92C;
                opacity: 1;
                color: white;
                font-weight: normal;
                line-height: 6px;
                font-size: 35px;
            }

            .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
                opacity: 1;
            }

            .view-promocion {
                background-color: white;
                padding: 6px;
                border-radius: 25px;
                color: #185640;
                text-align: center;
                border-color: transparent;
                position: absolute;
                width: 200px;
                right: 30px;
                bottom: 30px;
            }
        }
    }
}