<div class="bg-gray">
    <div class="container pt-5 pb-5 no-padding-top-app">
        <div class="row">
            <div class="col-lg-3">
                <app-menu-perfil [opcion]="1"></app-menu-perfil>
            </div>
            <div class="col-lg-9 no-padding-x-app">
                <div class="container-opcion bg-white">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <h4 class="title-head">Editar tus Datos Personales</h4>
                        </div>

                        <div class="col-lg-12">
                            <form [formGroup]="form" class="form-user">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Tipo Documento</label>
                                            <select type="text" class="form-control" formControlName="TipoDocumento" disabled>
                                                <option value="1">RUC</option>
                                                <!-- <option value="2">DNI</option> -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>N° Documento</label>
                                            <input type="text" class="form-control" formControlName="NroDocumento" (keypress)="onlyNumberKey($event)">
                                            <div class="error" *ngIf="form.controls.NroDocumento.errors?.required && form.controls.NroDocumento.touched">
                                                * Campo requerido
                                            </div>
                                            <div class="error" *ngIf="form.controls.NroDocumento.errors?.minlength && form.controls.NroDocumento.touched">
                                                * Debe ingresar 10 dígitos como mínimo
                                            </div>
                                            <div class="error" *ngIf="form.controls.NroDocumento.errors?.maxlength && form.controls.NroDocumento.touched">
                                                * Debe ingresar 12 dígitos como máximo
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Razón Social</label>
                                            <input type="text" class="form-control" formControlName="RazonSocial">
                                            <div class="error" *ngIf="form.controls.RazonSocial.errors?.required && form.controls.RazonSocial.touched">
                                                * Campo requerido
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>N° Celular</label>
                                            <input type="text" class="form-control" formControlName="Celular" (keypress)="onlyNumberKey($event)">
                                            <div class="error" *ngIf="form.controls.Celular.errors?.required && form.controls.Celular.touched">
                                                * Campo requerido
                                            </div>
                                            <div class="error" *ngIf="form.controls.Celular.errors?.minlength && form.controls.Celular.touched">
                                                * Debe ingresar 9 dígitos como mínimo
                                            </div>
                                            <div class="error" *ngIf="form.controls.Celular.errors?.maxlength && form.controls.Celular.touched">
                                                * Debe ingresar 9 dígitos como máximo
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" formControlName="Email">
                                            <div class="error" *ngIf="form.controls.Email.errors?.required && form.controls.Email.touched">
                                                * Campo requerido
                                            </div>
                                            <div class="error" *ngIf="form.controls.Email.errors?.email && form.controls.Email.touched">
                                                * Debe ingresar un email
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-12" *ngIf="jwtUser.TipoUsuario">
                    <h4 class="title-company">Datos de Empresa</h4>
                    <p class="data-company">Danper Trujillo S.A.C.</p>
                    <p class="data-company">123123123123</p>
                    <p class="data-company">CECO: 25896</p>
                  </div> -->

                                    <div class="col-lg-12 btn-user">
                                        <button (click)="onSubmit()" class="btn-save">GUARDAR</button>
                                        <!--  [ngClass]="{ 'disable': jwtUser.TipoUsuario }" -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>