.container-opcion {
    padding: 20px;
    padding-bottom: 40px;

    .title-head {
        font-size: 20px;
        margin-bottom: 0px;
        color: #005b40;
        padding-bottom: 26px;
    }

    .user-danper {
        text-align: right;
        font-size: 12px;
        top: -5px;

        .img-danper {
            width: 50px;
        }
    }

    .form-user {
        label {
            color: #c3c3c3;
            font-size: 13px;
            margin-bottom: 0px;
        }

        .form-control {
            border-radius: 0px;
            border: 0px;
            border-bottom: 1px solid #c3c3c3;
            font-size: 13px;
        }

        .form-control:focus {
            border-radius: 0px;
            border: 0px;
            border-bottom: 1px solid #c3c3c3;
            box-shadow: none;
        }

        .form-control:disabled, .form-control[readonly] {
            background-color: transparent;
            opacity: 0.8;
            cursor: not-allowed;
        }

        .title-company {
            font-size: 20px;
            margin-top: 60px;
            margin-bottom: 20px;
            color: #c3c3c3;
        }
    
        .data-company {
            color: #c3c3c3;
            border-bottom: 1px solid #c3c3c3;
            font-size: 13px;
            padding-left: 0.75rem;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .btn-user {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;

            button {
                color: white;
                background-color: #5da142;
                font-size: 14px;
                border-radius: 5px;
                width: 200px;
                padding: 10px 0px;
                border-color: #5da142;
                -webkit-appearance: media-slider;
            }
        }
    }
}

/deep/ .theme-green {
    /deep/ .bs-datepicker-head {
        background-color: #185640;
    }

    .bs-datepicker-body table td span.selected {
        background-color: #185640;
    }
}


.error {
    color: #dc3545;
    text-align: right;
    font-size: 0.7rem;
}

.text-alert-error {
    text-align: justify !important;
    color: black !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.alert-error {
    line-height: 31px;
    color: red;
}

.container-alert {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    border: 2px solid red;
    padding: 13px 0px !important;
    margin-top: 25px !important;
    margin-bottom: 10px !important;
}

input.ng-invalid.ng-touched {
    border-color:#dc3545;
}

input.ng-touched.ng-valid{
    border-color: black;    
}

input.dateError {
    border-color:#dc3545 !important;
}

.btn-save {
    &.disable {
        pointer-events: none;
        background-color: #c3c3cc !important;
    }
}