/deep/ .card {
    margin-bottom: 0px;
    border: 0px;
    background-color: #f8f8f8 !important;
}

/deep/ .btn {
    text-transform: none;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    color: #7d7d7d !important;
    font-weight: bold;
}

// /deep/ .btn-link {
//     border-bottom: 1px solid #bcbcbc !important;
//     padding-bottom: 10px;
//     padding-right: 30px;
//     padding-left: 0px;
// }

// /deep/ #accordion .card-header {
//     background-color: transparent;
//     margin: 0px 10px;
//     padding-left: 0px;
//     padding-bottom: 5px;
//     padding-right: 5px;
//     border-top: 1px solid #bcbcbc;
//     border-bottom: 0px !important;
// }

/deep/.card:first-child {
    //margin-top: 100px;
    .card-header {
        border-top: 0px solid #bcbcbc !important;
    }
}

/deep/ .heading {
    margin-bottom: 40px;

    .title-option-selected {
        color: #006068;
        width: 65%;
        font-weight: bold;
        font-size: 20px;
        padding-left: 5px;
        padding-top: 15px;
    }

    a {
        font-weight: bold;
        color: #7b7b7b;        
        font-size: 1.4rem !important;
    }
}

/deep/ .card-body {
    padding: 0 1.25rem;
}

/deep/ .form-check-label {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
}
// /deep/ #accordion .card-header:first-child {
//     border-top: 0px solid #bcbcbc !important;
// }

.img-new {
    width: 45px !important;
    position: absolute;
    top: 0;
    left: 8%;
}

.img-prod {
    position: relative;
}

.img-prod.img-fluid {
    //padding: 10px;
    height: auto !important;
    width: 100% !important;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    //padding-top: 40px;
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}

.block-27 ul li.active a, .block-27 ul li.active span {
    background: #000;
    color: #fff;
    border: 1px solid transparent;
}

.block-27 ul li a, .block-27 ul li span {
    color: #000;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    background: #fff;
}

.last-price {
    color: #7d7d7d;
    text-align: center;
    font-size: 12px;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 10px;
}

/deep/ .product  {
    position: relative;

    .text {
        padding-top: 0px !important;
    }
}

.fa-product {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.1rem;
    color: #7d7d7d;
}

.discount {
    position: absolute;
    margin: 0px;
    padding: 3px;
    font-size: 9px;
    background-color: #ff4e4e;
    color: white;
    top: 6%;
}

/deep/ .fancy-collapse-panel {
    background-color: #f8f8f8 !important;

    .btn-clear {
        background-color: #FDFDFD;
        text-align: center;
        justify-content: center;        
        padding: 20px 15px;       

        button {
            width: 100%;
            border-radius: 5px;
            border: 0px solid transparent;
            color: white !important;
            font-weight: 400;
            background-color: #006068 !important;
            font-size: 14px;
            padding: 7px 0px;
            text-transform: uppercase;
        }
    }
}

// .product {
//     //border: 1px solid #bcbcbc !important;
//     //cursor: pointer;
//     box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.3);
//     background-color: white;
// }

.rating-product {
    width: 100%;
    text-align: center;
    display: inline-block;

    /deep/ ngb-rating span {
        color: #f7a51b;
        font-size: 14px;
    }
}

.pricing {
    width: 50%;
    text-align: left !important;
    display: inline-block;

    // .price {
    //     //color: #7d7d7d !important;
    //     color: #ee5050;
    //     text-align: left !important;
    //     font-size: 14px !important;
    //     font-weight: bold;
    //     margin-bottom: 0px !important;

    //     .through {
    //          //padding-left: 5px;
    //          text-decoration: line-through;
    //          color: #7d7d7d !important;
    //          font-size: 12px;
    //     }
    // }
}

.price {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 13px;

    .title-price {
        font-size: 9px;
        color: #005B40;
        font-family: Avenir-Bold !important;
    }

    .amount-price {
        font-size: 14px;
        color: #DA202E;
        font-family: Avenir-Bold !important;
    }
}

.price-cat-app {
    text-align: center;

    .title-price {
        font-size: 8px;
        color: #005B40;
        font-family: Avenir-Bold !important;
    }

    .amount-price {
        font-size: 12px;
        color: #DA202E;
        font-family: Avenir-Bold !important;
    }
}

.text-stock {
    width: 50%;
    text-align: right;
    display: inline-block;

    .in-stock {
        color: #00c08b !important;
        text-align: right;
        font-size: 14px !important;
        font-weight: bold;
        margin-bottom: 0px !important;
    }

    .spent {
        color: #ee5050 !important;
        text-align: right;
        font-size: 14px !important;
        font-weight: bold;
        margin-bottom: 0px !important;
    }
}

.img-fluid {
    opacity: 1;
}

// .img-fluid:hover {
//     opacity: 0.3;
//   }
  
// .img-agotado:hover {
// opacity: 1;
// }

.img-agotado {
    position: absolute;
    left: 0;
    opacity: 1;
}

.container-product-catalogo {
    padding-right: 5px !important;
    padding-left: 5px !important;

    a.disable {
        pointer-events: none;
        cursor: default;
    }

    .detail-product {
        justify-content: center;
    }
}

.sub-menu {
    //text-align: -webkit-center;

    p {
        text-overflow: ellipsis;
        color: #006068 !important;
        font-weight: 600;
        font-size: 12px;
        max-width: 160px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0px;
    }
}

/deep/ .pagination .page-item.active .page-link {
    background-color: transparent;
    color: #185640 !important;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 3px solid #185640;
    border-color: #185640 !important;
}

/deep/ .pagination > .page-item > .page-link, .pagination > .page-item > span, .pagination > .page-item:first-child > .page-link, .pagination > .page-item:first-child > span, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:last-child > span {
    border-color: transparent !important;
    color: black !important;
}

/deep/ .page-item.disabled {
    display: none !important;
}

/deep/ .pagination {
    justify-content: center;
}

/deep/ .pagination .page-item.active .page-link:hover, /deep/ .pagination .page-item .page-link:hover {
    background-color: #185640 !important;
    color: white !important;
}

.order-by {
    position: absolute !important;
    display: inline-block;
    width: 30%;
    right: 15px;
    top: 5px;
    font-size: 13px;
    // font-weight: bold;
    border: 0px;
    border-bottom: 1px solid #d3cdcd;
    border-radius: 0px;
    color: #6B6B6B;
    font-family: Avenir-Light !important;
}

.category-price {
    padding: 0px 15px;

    .container-range {
        position: relative;
        display: inline-block;
        width: 45%;
    }

    .container-space {
        position: relative;
        display: inline-block;
        width: 10%;
        text-align: center;
    }

    .symbol-range {
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 13px;
    }

    .range {
        padding-left: 20px;
        height: 30px;
        padding-top: 4px;
        font-size: 13px;
    }
}

.btn-range {
    padding: 0px 15px;

    .btn-order {
        background-color: #185640;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #185640;
        color: white;
        font-size: 14px;
        padding: 5px 0px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .disable-range{
        background-color: #00c08b;
        border: 1px solid #00c08b;
        cursor: not-allowed;
    }
}

.container-alert-range {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px 15px !important;
    margin-top: 10px !important;
    width: 100%;

    .alert-error {
        line-height: 48px;
        color: red;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 30px;
        border: 2px solid red;
        border-radius: 5px;
        padding: 5px;
    }

    .text-alert-error {
        text-align: center !important;
        color: red !important;
        font-size: 10px !important;
        margin-bottom: 0px !important;
        border: 1px solid red;
        padding: 5px;
        border-radius: 5px;
    }
}

.range-accordion .btn-link {
    width: 100%;
    text-decoration-line: none;
}

.accordion-filters {
    /deep/ .card {
        box-shadow: none !important;
        background-color: #FDFDFD !important;

        /deep/ .card-header {
            border-top: 0px !important;
            // border-bottom: 0px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            border-bottom: 2px solid #ddd8d8;
            background-color: #FDFDFD !important;
        }

        /deep/ .collapse {
            background-color: #FDFDFD !important;
        }

        /deep/ .btn-link {
            color: #5DA142 !important;
            font-size: 14px;
            text-transform: uppercase;
            padding: 8px 15px;
            padding-top: 15px !important;
            padding-bottom: 10px !important;
        }

        /deep/ .btn-link:hover {
            text-decoration: none !important;
        }

        /deep/ .form-check {
            border-bottom: 1px solid #ddd8d8;
            padding-bottom: 8px;
        }

        /deep/ .form-check-radio {
            margin-bottom: 5px;
            margin-left: 10px;
        }

        /deep/ .form-check-radio input[type="radio"]:checked + .form-check-sign::after {
            color: #006068;
        }

        /deep/ .form-check-radio .form-check-sign::before {
            color: #006068;
        }
    }
}

.container-btn-shortcut {
    padding: 0px 25px;
    margin-bottom: 10px;

    .btn-shortcut-add {
        width: 100%;
        background-color: #006068;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #006068;
        border-radius: 5px;
        text-align: center;
        margin-top: 5px;
        padding: 5px 0px;
        height: 40px;

        &.disable {
            pointer-events: none;
        }
    }

    .container-edit-btn {
        margin: 0px 0px;
        margin-top: 5px;
        background-color: #00c08b;
        padding: 5px 0px;
        border-radius: 5px;
        color: white;

        .edit-btn {
            text-align: center;

            .edit-cantidad {
                cursor: pointer;
                font-weight: bold;
            }

            label {
                vertical-align: -webkit-baseline-middle;
                margin-bottom: 0px !important;
            }

            .form-control:disabled, .form-control[readonly] {
                background-color: transparent;
                opacity: 1;
            }

            .form-control {
                height: 30px;
                text-align: center;
                border: 0px;
                font-size: 14px;
                font-weight: bold;
                color: white !important;
            }
        }
    }
}

.padding-row {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#generalAccordion {
    /deep/ .card .btn-link.collapsed {
        // border-bottom: 2px solid #d0c8c8 !important;
        border-bottom: 0px solid #d0c8c8 !important;
        border-radius: 0px;
    }

    /deep/ .card .btn-link {
        border-bottom: 0px !important;
    }

    /deep/ .card-header {
        padding: 0px !important;
        //border-bottom: 2px solid #d0c8c8 !important;
    }

    /deep/ .card-body {
        padding: 0px;
    }

    /deep/ #Categoria.show, /deep/ #Variedad.show, /deep/ #Lugar.show {
        padding-top: 20px;
    }

    #catAccordion {
        /deep/ .card {
            /deep/ .card-header {
                padding: 5px 0px !important;
                border-bottom: 2px solid #d0c8c8 !important;
            }
        }

        /deep/ .card .btn-link {
            border-bottom: 0px !important;
        }

        /deep/ .btn-link.collapsed {
            color: black !important;
            font-size: 12px;
            text-transform: uppercase;
            padding-right: 15px;
            padding-left: 15px;
            font-weight: 500;
        }

        /deep/ .btn-link {
            color: #006068 !important;
            font-size: 13px;
            text-transform: uppercase;
            padding-right: 15px;
            padding-left: 15px;
            font-weight: 500;
        }

        .icon-subcat {
            position: absolute;
            right: 8px;
            top: 17px;
            color: #006068;
        }

        /deep/ .show {
            background-color: #eef1d4;

            /deep/ .card-body {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            /deep/ .form-check-label {
                font-size: 12px !important;
            }
        }
    }
}

.link-category {
    color: #707070 !important;
    font-family: Avenir-Light !important;
    font-size: 15px;
    padding-left: 5px;
    display: block;
}

span.link-category {
    color: #006068;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 15px;
}

.link-subcategory {
    color: #006068;
    font-size: 12px;
    font-weight: normal;
}

.mat-not-found {
    font-size: 25px;
    text-align: center;
    color: #da202e;
    padding: 30px;
}

@media (min-width: 769px){
    .container-type-subasta {
        background-color: #F1F1F1;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
    }

    .container-active {
        background-color: #da202e !important;
    
        a.link-category {
            color: white !important;
        }
    }
}

.text-variedad {
    color: #755c5c;
    font-size: 10px;
    font-family: Avenir-Light !important;
    margin-bottom: 0px !important;
    min-height: 15px;
}

.text-fechalugar {
    font-size: 13px;
    color: #5DA142 !important;
    font-family: Avenir-Light !important;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
}

.text-horario {
    margin-bottom: 2px;
    font-size: 13px;
    color: #606060;
    font-family: Avenir-Light !important;
}

.text-horario:nth-last-child(1) {
    margin-bottom: 0px !important;
}

.btn-view-more {
    border-radius: 5px;
    padding-top: 5px;
    padding: 5px 0px;
    color: white;
    font-size: 12px;
    font-family: Avenir-Light !important;
    margin: 6px 0px;
    width: 100%;
}

.bg-btn-vigente {
    background-color: #DA202E;
    border: 1px solid #DA202E;
}

.bg-btn-proxima {
    background-color: #5DA142;
    border: 1px solid #5DA142;
}

.bg-btn-cerrada {
    background-color: #2277A8;
    border: 1px solid #2277A8;
}