<section class="bg-white-app bg-white">
  <div class="container">
    <div class="row catalogo">
      <!-- <div class="col-md-12 col-6">
        <button class="btn-filters" (click)="openFilters(contentF)">Filtros</button>
      </div> -->
      <div class="col-md-12 col-6 cont-order-by-app">
        <ng-select [items]="arrayOrder"
          bindLabel="Descripcion"
          bindValue="Order"
          placeholder=""
          (change)="orderProducts()"
          [(ngModel)]="orderBy" class="order-by-app">
        </ng-select>
      </div>
      
      <div class="col-md-8 col-lg-9 order-md-last item-catalogo mt-5 mb-5 nno-padding-x">
        <div class="col-md-12 col-12">
          <!-- <div class="row" style="background-color: #5da142;">
            <div class="col-12">
              <button class="btn-filters" (click)="openFilters(contentF)">Filtros</button>
            </div>
          </div> -->
        </div>
        <div class="col-lg-12 pb-3 mb-2 no-padding-x-app" style="background-color: white;">
          <!-- <a class="link-category" [routerLink]="'/Catalogo/' + arrayCategories[0]" *ngIf="arrayCategories[0] != undefined">{{ arrayCategories[0] }}</a>

          <span *ngIf="arrayCategories[1] != undefined" class="link-category"> > </span>
          <a class="link-subcategory" *ngIf="arrayCategories[1] != undefined" [routerLink]="'/Catalogo/' + arrayCategories[0] + '/' + arrayCategories[1]">{{ arrayCategories[1] }}</a>
          <span *ngIf="keyWord">Búsqueda para "{{ keyWord }}"</span> -->
          <div class="row d-flex h-align-flex tipo-subasta-app" style="padding-bottom: 25px; border-bottom: 2px solid #5da142;">
            <div class="col-12">
              <button class="btn-filters" (click)="openFilters(contentF)">Elegir Filtros</button>
            </div>
          </div>
          <div class="row d-flex h-align-flex tipo-subasta-web">
            <div class="col-lg-3" style="padding: 0px 5px;">
              <div class="container-type-subasta" [ngClass]="{ 'container-active' : category_1 == 'Vigentes'}">
                <a class="link-category" [routerLink]="'/Catalogo/Vigentes'">Subastas Vigentes</a>
              </div>
            </div>
            <div class="col-lg-3" style="padding: 0px 5px;">
              <div class="container-type-subasta" [ngClass]="{ 'container-active' : category_1 == 'Proximas'}">
                <a class="link-category" [routerLink]="'/Catalogo/Proximas'">Subastas Próximas</a>
              </div>
            </div>
            <div class="col-lg-3" style="padding: 0px 5px;">
              <div class="container-type-subasta" [ngClass]="{ 'container-active' : category_1 == 'Cerradas'}">
                <a class="link-category" [routerLink]="'/Catalogo/Cerradas'">Subastas Cerradas</a>
              </div>
            </div>
          </div>

          <div class="row d-flex h-align-flex tipo-subasta-app">
            <div class="col-4" style="padding: 0px;">
              <div class="container-type-subasta" [ngClass]="{ 'container-active' : category_1 == 'Vigentes'}">
                <a class="link-category" [routerLink]="'/Catalogo/Vigentes'">Vigentes</a>
              </div>
            </div>
            <div class="col-4" style="padding: 0px;">
              <div class="container-type-subasta" [ngClass]="{ 'container-active' : category_1 == 'Proximas'}">
                <a class="link-category" [routerLink]="'/Catalogo/Proximas'">Próximas</a>
              </div>
            </div>
            <div class="col-4" style="padding: 0px;">
              <div class="container-type-subasta" [ngClass]="{ 'container-active' : category_1 == 'Cerradas'}">
                <a class="link-category" [routerLink]="'/Catalogo/Cerradas'">Cerradas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 no-padding-x-app" style="background-color: white;" *ngIf="arrayMaterialesMain.length > 0">
          <h3 class="heading">
            <h4 class="title-option-selected" *ngIf="arrayCategories[1] == undefined">{{ arrayCategories[0] }}</h4>
            <h4 class="title-option-selected" *ngIf="arrayCategories[1] != undefined">{{ arrayCategories[1] }}</h4>

            <!-- <span class="link-filters" *ngIf="arrayCategories[1] == undefined" style="color: transparent;">-</span>
            <a [routerLink]="'/Catalogo/' + category_1 + '/' + category_2" *ngIf="arrayCategories[1] != undefined">{{ category_2 }}</a>
  
            <span class="link-filters" *ngIf="arrayCategories[2] != undefined"> > </span>
            <a class="link-filters" *ngIf="arrayCategories[2] != undefined" [routerLink]="'/Catalogo/' + category_1 + '/' + category_2 + '/' + category_3">{{ category_3 }}</a> -->
  
            <select class="form-control order-by" [(ngModel)]="orderBy" (change)="orderProducts()">
              <option value="0">Ordenar Por:</option>
              <!-- <option value="1">Lo más reciente</option> -->
              <option value="1">Mayor a menor precio</option>
              <option value="2">Menor a mayor precio</option>
              <!-- <option value="3">Mayor descuento</option> -->
            </select>
          </h3>
  
          <div class="row padding-row">
            <div *ngFor="let subasta of arrayMateriales; let iM = index;" class="col-sm-12 col-md-6 col-lg-3 col-12 mb-2" style="padding-left: 5px !important; padding-right: 5px !important;"> <!-- ftco-animate d-flex container-product-catalogo --> <!--  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize -->
              <div class="product d-flex flex-column">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-md-12 img-prod col-5 no-padding-right-app">
                        <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                        <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                        <div class="price no-display-app">
                          <div class="title-price">
                            <span>Precio Base</span>
                          </div>
                          <div class="amount-price">
                            <span>S/ {{formatNumber(subasta.Precio)}}</span>
                          </div>
                        </div>
                        <div class="overlay"></div>
                      </div>

                      <div class="col-md-12 pt-1 pb-1 col-7 d-flex-vertical-align-app no-padding-y-app">
                        <div class="row">
                          <div class="col-md-12 col-7 padding-x25-web padding-left-10-app">
                            <p class="text-variedad">{{ subasta.Variedad }}</p>
                            <div class="text">
                              <div class="d-flex detail-product hl-align-flex">
                                <div class="text-tops sub-menu w-app">
                                  <p>{{ subasta.Nombre }}</p>
                                </div>
                              </div>
                            </div>
                            <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                            <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                            <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>
                          </div>
                          <div class="col-md-12 col-5 padding-x25-web no-padding-left-app d-flex-vertical-align-app">
                            <div class="row">
                              <div class="col-12 no-display-web">
                                <div class="price-cat-app">
                                  <div class="title-price">
                                    <span>Precio Base</span>
                                  </div>
                                  <div class="amount-price">
                                    <span>S/ {{formatNumber(subasta.Precio)}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <button class="btn-view-more bg-btn-vigente" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ngb-pagination
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [collectionSize]="arrayMateriales.length">
                </ngb-pagination>
              </div>
            </div>
          </div> -->
        </div>

        <div class="col-lg-12" style="background-color: white;" *ngIf="arrayMaterialesMain.length == 0 && show_not_found">
          <h3 class="mat-not-found">No se han encontrado resultados para esta búsqueda.</h3>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 mt-5 mb-5 container-filters">
        <div class="sidebar">
          <div class="sidebar-box-2">
            <div class="fancy-collapse-panel">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <ngb-accordion #acc="ngbAccordion" class="range-accordion accordion-filters" (panelChange)="toggleAccordianG($event)" [destroyOnHide]="false" id="generalAccordion" [activeIds]="activeIds">
                  <ngb-panel title="Categorías" id="Categoria">
                    <ng-template ngbPanelTitle>
                      <i *ngIf="!showIconGeneral('Categoria')" class="fas fa-chevron-right" style="position: absolute; right: 8px; top: 20px;"></i>
                      <i *ngIf="showIconGeneral('Categoria')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 20px;"></i>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="form-check" *ngFor="let cat of arrayCategorias">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" name="{{ 'Categoria' }}" [value]="cat.CategoriaSubasta" (click)="getChecks('filtersCategoria', cat.CategoriaSubasta)">
                          {{ cat.Descripcion }}
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel title="Variedades" id="Variedad">
                    <ng-template ngbPanelTitle>
                      <i *ngIf="!showIconGeneral('Variedad')" class="fas fa-chevron-right" style="position: absolute; right: 8px; top: 20px;"></i>
                      <i *ngIf="showIconGeneral('Variedad')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 20px;"></i>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="form-check" *ngFor="let itemVar of arrayVariedades">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" name="{{ 'Variedad' }}" [value]="itemVar.VariedadSubasta" (click)="getChecks('filtersVariedad', itemVar.VariedadSubasta)">
                          {{ itemVar.Descripcion }}
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel title="Lugares" id="Lugar">
                    <ng-template ngbPanelTitle>
                      <i *ngIf="!showIconGeneral('Lugar')" class="fas fa-chevron-right" style="position: absolute; right: 8px; top: 20px;"></i>
                      <i *ngIf="showIconGeneral('Lugar')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 20px;"></i>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="form-check" *ngFor="let lugar of arrayLugares">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" name="{{ 'LugarDespacho' }}" [value]="lugar.LugarDespacho" (click)="getChecks('filtersLugar', lugar.LugarDespacho)">
                          {{ lugar.Descripcion }}
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>                
              </div>

              <div class="btn-clear">
                <button (click)="clearFilters()">Borrar Filtros</button>
              </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #contentF let-modal>
  <div class="row">
    <div class="modal-body">
      <div class="row filters-mobile">
        <button type="button" id="close" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); clearArrows();">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="title-filters-mobile">Filtros</p>
        <div class="panel-group panel-app" id="accordion" role="tablist" aria-multiselectable="true" style="width: 100%;">
          <ngb-accordion #acc="ngbAccordion" class="range-accordion accordion-filters" (panelChange)="toggleAccordianG($event)" [destroyOnHide]="false" id="generalAccordion" [activeIds]="activeIds">
            <ngb-panel title="Categorías" id="Categoria">
              <ng-template ngbPanelTitle>
                <i *ngIf="!showIconGeneral('Categoria')" class="fas fa-chevron-right" style="position: absolute; right: 8px; top: 20px;"></i>
                <i *ngIf="showIconGeneral('Categoria')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 20px;"></i>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="form-check" *ngFor="let cat of arrayCategorias">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="{{ 'Categoria' }}" [value]="cat.CategoriaSubasta" (click)="getChecks('filtersCategoria', cat.CategoriaSubasta)" [checked]="isSelected('filtersCategoria', cat.CategoriaSubasta)">
                    {{ cat.Descripcion }}
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Variedades" id="Variedad">
              <ng-template ngbPanelTitle>
                <i *ngIf="!showIconGeneral('Variedad')" class="fas fa-chevron-right" style="position: absolute; right: 8px; top: 20px;"></i>
                <i *ngIf="showIconGeneral('Variedad')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 20px;"></i>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="form-check" *ngFor="let itemVar of arrayVariedades">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="{{ 'Variedad' }}" [value]="itemVar.VariedadSubasta" (click)="getChecks('filtersVariedad', itemVar.VariedadSubasta)" [checked]="isSelected('filtersVariedad', itemVar.VariedadSubasta)">
                    {{ itemVar.Descripcion }}
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Lugares" id="Lugar">
              <ng-template ngbPanelTitle>
                <i *ngIf="!showIconGeneral('Lugar')" class="fas fa-chevron-right" style="position: absolute; right: 8px; top: 20px;"></i>
                <i *ngIf="showIconGeneral('Lugar')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 20px;"></i>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="form-check" *ngFor="let lugar of arrayLugares">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="{{ 'LugarDespacho' }}" [value]="lugar.LugarDespacho" (click)="getChecks('filtersLugar', lugar.LugarDespacho)" [checked]="isSelected('filtersLugar', lugar.LugarDespacho)">
                    {{ lugar.Descripcion }}
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</ng-template>