/deep/ body, /deep/ html, /deep/ app-root {
    height: 100%;
}

/deep/ body {
    display: flex;
    flex-direction: column;
}

.flex-vertical {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        background-color: #f8f8f6;
        //border: 2px solid #185640;
        border-radius: 10px;
        padding: 50px;
        //width: 500px;

        img {
            width: 30%;
            margin: 10px 0px;
        }

        .title-form {
            font-size: 18px;
            color: #185640;
            text-align: left;
            margin-bottom: 10px;
        }

        .form-control {
            border-color: black;
            font-size: 14px;
            border-radius: 0px !important;
            border: 0px;
            border-bottom: 1px solid black;
            background-color: #f8f8f6!important;
        }

        .form-control:focus {
            border-color: black;
            box-shadow: none;
        }

        .label-form {
            color: #bdbdbd;
            font-size: 12px;
        }

        .btn-recovery {
            text-align: center;
            justify-content: center;        
            padding: 10px 0px;
            margin-bottom: 0px !important;
        
            button {
                width: 100%;
                border-radius: 5px;
                border: 0px solid transparent;
                color: white !important;
                font-weight: 400;
                background-color: #185640 !important;
                font-size: 16px;
                padding: 7px 0px;
            }

            button:focus {
                outline: none;
            }
        }
    }
}

.ng-invalid .ng-touched {
    border-color:#dc3545 !important;
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 1px solid #dc3545;
    background-color: #f8f8f6!important;
}

.ng-touched .ng-valid{
    border-color: black !important;
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: #f8f8f6!important;
}

.error {
    color: #dc3545;
    text-align: right;
    font-size: 0.7rem;
}

.text-alert-success {
    text-align: justify !important;
    color: #AAB92C !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

.alert-success {
    line-height: 31px;
    color: #AAB92C;
    background-color: transparent;
}

.container-success {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    border: 2px solid #AAB92C;
    padding: 13px 0px !important;
    margin-bottom: 10px !important;
    margin-top: 20px;
}

.text-alert-error {
    text-align: justify !important;
    color: red !important;
    font-size: 16px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.alert-error {
    line-height: 31px;
    color: red;
}

.container-alert {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    border: 2px solid red;
    padding: 13px 0px !important;
    margin-top: 25px !important;
    margin-bottom: 10px !important;
}

.text-start {
    border-bottom: 1px solid #6c757d;
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 30px;
}