<div class="flex-vertical container-recovery">
  <div class="row" style="width: 100%;">
    <div class="col-lg-6 d-flex v-align-flex h-align-flex">
      <img src="../../../../assets/img/clave.png" alt="" class="img-recovery width-total">
    </div>
    <div class="col-lg-6 no-padding-x-app">
      <form [formGroup]="form">
        <div class="form-group text-center">
          <img src="../../../../assets/img/logo_login.png" alt="Hortifrut">
        </div>
    
        <h3 class="title-form">RESTABLECER CONTRASEÑA</h3>
        <p class="text-start">Ingresar una nueva contraseña</p>
    
        <div class="form-group">
          <label class="label-form">Nueva Contraseña</label>
          <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="NewPass" required>           
          <div class="error" *ngIf="form.controls.NewPass.errors?.required && form.controls.NewPass.touched">
            * Campo requerido
          </div>
          <div class="error" *ngIf="form.controls.NewPass.errors?.minlength && form.controls.NewPass.touched">
            * Debe tener 8 caracteres como mínimo
          </div>
        </div>
      
        <div class="form-group">
          <label class="label-form">Confirmar Nueva Contraseña</label>
          <input type="password" class="form-control" placeholder="Confirma tu Contraseña" formControlName="ReNewPass" required (keypress)="keyRePass()">           
          <div class="error" *ngIf="form.controls.ReNewPass.errors?.required && form.controls.ReNewPass.touched">
            * Campo requerido
          </div>
          <div class="error" *ngIf="form.controls.ReNewPass.errors?.minlength && form.controls.ReNewPass.touched">
            * Debe tener 8 caracteres como mínimo
          </div>
          <div class="error" *ngIf="show_error">
            * Las contraseñas no coinciden, ingrese la confirmación nuevamente
          </div>
        </div>
    
        <div class="col-sm-12 no-padding-x">
          <div class="row container-alert" *ngIf="show_message_error">
            <div class="col-sm-1">
              <i class="fa fa-exclamation-circle alert-error"></i>
            </div>
    
            <div class="col-sm-11 d-flex v-align-flex">
              <p class="text-alert-error">{{ message }}</p>
            </div>
          </div>
    
          <div class="row container-success" *ngIf="show_message_success">
            <div class="col-sm-1">
              <i class="fa fa-check-circle alert-success"></i>
            </div>
    
            <div class="col-sm-10 d-flex v-align-flex">
              <p class="text-alert-success">{{ message }}</p>
            </div>
          </div>
        </div>
    
        <div class="form-group btn-recovery">
          <button (click)="resetPass()">GUARDAR</button>
        </div>
      </form>
    </div>
  </div>
</div>