<div class="bg-gray">
  <div class="container pt-5 pb-5 no-padding-top-app">
    <div class="row">
      <div class="col-lg-3">
        <app-menu-perfil [opcion]="3"></app-menu-perfil>
      </div>
      <div class="col-lg-9 no-padding-x-app">
        <div class="container-opcion bg-white">
          <div class="row">
            <div class="col-lg-12 col-12">
              <h4 class="title-head">Mis Subastas</h4>
            </div>

            <div class="col-lg-12 my-orders no-padding-x-app" *ngFor="let order of arrayOrders | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <div class="row no-margin-x bg-gray container-detail-general">
                <div class="col-lg-7 col-8">
                  <div class="row">
                    <div class="col-lg-4 col-4 container-img no-padding-x">
                      <img class="img-detail" [src]="order.UrlImagen" [alt]="order.Nombre">
                    </div>
                    <div class="col-lg-8 col-8 d-flex v-align-flex">
                      <div>
                        <p class="number_order">{{ order.Nombre }}</p>
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-lg-12 no-padding-x">
                              <div class="row">
                                <div class="col-lg-6 col-6 detail_order">
                                  Cantidad:
                                </div>
                                <div class="col-lg-6 col-6 detail_order no-padding-x">
                                  {{ order.Kg + ' kg.' }}
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12 no-padding-x">
                              <div class="row">
                                <div class="col-lg-6 col-6 detail_order">
                                  Variedad:
                                </div>
                                <div class="col-lg-6 col-6 detail_order no-padding-x">
                                  {{ order.Variedad }}
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12 no-padding-x">
                              <div class="row">
                                <div class="col-lg-6 col-6 detail_order">
                                  Fecha de Cierre:
                                </div>
                                <div class="col-lg-6 col-6 detail_order no-padding-x">
                                  {{ order.FechaCierre }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-4" style="padding-top: 10px;">
                  <div class="row v-align-flex" style="height: 100%;">
                    <div class="col-lg-12 col-12">
                      <div class="row btns-detail">
                        <div class="col-lg-6 d-flex v-align-flex h-align-flex">
                          <span class="status-subasta" *ngIf="order.Ganada">SUBASTA GANADA</span>
                          <span class="status-subasta" *ngIf="order.Vigente">SUBASTA EN CURSO</span>
                          <span class="status-subasta" *ngIf="!order.Vigente && order.Cerrado">SUBASTA PERDIDA</span>
                        </div>
                        <div class="col-lg-6">
                          <button class="btn_resumen_win" *ngIf="order.Ganada" [routerLink]="['/Producto']" [queryParams]="{id: order.CodigoSubasta}">VER DETALLE</button> <!--  (click)="openResumen(order)" -->
                          <button class="btn_resumen_in_process" *ngIf="order.Vigente" [routerLink]="['/Producto']" [queryParams]="{id: order.CodigoSubasta}">VER DETALLE</button> <!--  (click)="openResumen(order)" -->
                          <button class="btn_resumen_lost" *ngIf="!order.Vigente && order.Cerrado" [routerLink]="['/Producto']" [queryParams]="{id: order.CodigoSubasta}">VER DETALLE</button> <!--  (click)="openResumen(order)" -->
                        </div>
                        <!-- <div class="col-lg-6">
                          <button class="btn_again">VOLVER A PEDIR</button>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="col text-center">
                <div class="block-27">
                  <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="arrayOrders.length">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>