.container-opcion {
    padding: 20px;
    padding-bottom: 40px;

    .title-head {
        font-size: 20px;
        margin-bottom: 0px;
        color: #185640;
        padding-bottom: 26px;
    }

    .user-danper {
        text-align: right;
        font-size: 12px;
        top: -5px;

        .img-danper {
            width: 50px;
        }
    }

    .my-orders {
        margin-bottom: 15px;

        .container-detail-general {
            padding: 15px;
            border-radius: 5px;

            .container-img {
                display: flex;
                justify-content: center;
                align-items: center;
    
                .img-detail {
                    width: 100%;
                    height: auto;
                }
            }
    
            .number_order {
                margin-bottom: 5px;
                font-size: 14px;
                color: #185640;
            }
    
            .detail_order {
                font-size: 12px;
                color: #414141;
                font-family: Avenir-Light !important;
            }
    
            .header-detail-left {
                text-align: right;
    
                .number_doc {
                    font-size: 12px;
                    color: #F37100;
                    text-decoration: underline;
                }
        
                .status_order {
                    display: inline-block;
                    padding: 5px 10px;
                    margin-left: 20px;
                    background-color: #6db75e;
                    border-radius: 5px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 13px;
                }
            }
    
            .btns-detail {
                padding: 0px 10px;
                display: flex;
                justify-content: flex-end;

                div {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                button {
                    width: 100%;
                    font-size: 13px;
                    border-radius: 5px;
                    padding: 5px 0px;
    
                    &.btn_resumen_win {
                        background-color: #5DA142;
                        border: 1px solid #5DA142;
                        color: white;
                    }

                    &.btn_resumen_lost {
                        background-color: #da202e;
                        border: 1px solid #da202e;
                        color: white;
                    }

                    &.btn_resumen_in_process {
                        background-color: #fcaf23;
                        border: 1px solid #fcaf23;
                        color: white;
                    }
    
                    &.btn_again {
                        background-color: white;
                        color: #185640;
                    }
                }
            }
        }
    }
}

/deep/ .pagination .page-item.active .page-link {
    background-color: transparent;
    color: #185640 !important;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 3px solid #185640;
    border-color: #185640 !important;
}

/deep/ .pagination > .page-item > .page-link, .pagination > .page-item > span, .pagination > .page-item:first-child > .page-link, .pagination > .page-item:first-child > span, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:last-child > span {
    border-color: transparent !important;
    color: black !important;
}

/deep/ .page-item.disabled {
    display: none !important;
}

/deep/ .pagination {
    justify-content: center;
}

.status-subasta {
    font-size: 12px;
    color: #005B40;
}

@media (max-width: 768px) {
    .container-opcion .my-orders .container-detail-general {
        padding: 8px !important;

        .number_order {
            font-size: 11px !important;
        }

        .detail_order {
            font-size: 8px !important;
        }

        .btns-detail {
            padding: 0px 5px !important;

            button.btn_resumen {
                font-size: 8px !important;
            }
        }

        .status-subasta {
            font-size: 8px !important;
        }
    }
}