.menu-perfil {
    .container-user {
        margin-top: 20px;

        .title-general {
            font-size: 12px;
            color: #5da142;
        }
    
        .user-name {
            color: #005b40;
            font-size: 16px;
        }
    }

    .container-opcion {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;

        .opcion-perfil {
            font-size: 13px;
            margin-bottom: 15px;
            border-bottom: 1px solid #c3c3c37a;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 10px;
            cursor: pointer;

            a {
                color: black;
                padding-bottom: 10px;
            }
        }

        .opcion-perfil.active {
            a {
                color: #da202e;
            }
        }
    }
}

.icon-account {
    position: absolute;
    right: 8px;
    top: 4px;
    color: #185640;
}