<div class="container">
  <div class="row menu-perfil">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 bg-gray-app">
          <div class="row container-user">
            <div class="col-lg-3 col-2" style="padding-right: 0px;">
              <img src="../../../../../assets/img/user_icon.png" alt="User" style="max-width: 100%;">
            </div>
            <div class="col-lg-9 col-9 no-padding-x-web">
              <div class="row">
                <div class="col-lg-12 title-general">
                  Mi cuenta
                </div>
                <div class="col-lg-12 user-name">
                  {{ name_user }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 bg-white ">
          <div class="row container-opcion">
            <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 1 }" [routerLink]="['/Profile']">
              Datos Personales
              <i class="fas fa-chevron-right icon-account"></i>
            </div>
            <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 2 }" [routerLink]="['/ChangePass']">
              Cambia tu Clave
              <i class="fas fa-chevron-right icon-account"></i>
            </div>
            <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 3 }" [routerLink]="['/Orders']">
              Mis Subastas
              <i class="fas fa-chevron-right icon-account"></i>
            </div>
            <!-- <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 4 }">
              Cupones de Descuento
            </div> -->
            <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 4 }" [routerLink]="['/Help']">
              Centro de Ayuda
              <i class="fas fa-chevron-right icon-account"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>