<!-- <div class="pt-1">
  <div class="container no-padding-x">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
        <div class="col-lg-1 cat-line"></div>
        <div class="col-lg-10 container-cat-text">
            <h5 class="cat-text">Categorías</h5>
        </div>
        <div class="col-lg-1 cat-line"></div>
    </div>
  </div>
</div> -->

<div class="mt-5 b mb-5">
  <div class="container no-padding-x">
    <h2 class="title-categories">
      Categorías
    </h2>
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0 container-suggestions">
      <!-- <div class="col-lg-1"></div> -->
      <div class="col-sm-12">
        <div class="category-wraper">
          <div class="size-cont-category row"  style="justify-content: center;">
            <div class="col-lg-2 col-xs-2 suggestion" *ngFor="let suggestion of arrSuggestions">
              <h2>
                <i class="fab fa-cloudsmith"></i>
              </h2>
              <div> <!-- [ngClass]="{ 'active': arrSuggestions.indexOf(suggestion) == 0 }" -->
                <span>{{ suggestion.Descripcion }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-1"></div> -->
    </div>
  </div>
</div>