<div class="icon-cupon-web bounce-cupon">
  <a href="https://api.whatsapp.com/send?phone=+51949177529&text=¡Hola! tengo problemas para realizar mi pedido ¿Me ayudas?" target="_blank">
    <img src="../../../../assets/img/whatsapp.png" alt="Whatsapp">
  </a>
</div>
<div class="icon-cupon-movil bounce-cupon">
  <a href="https://api.whatsapp.com/send?phone=+51949177529&text=¡Hola! tengo problemas para realizar mi pedido ¿Me ayudas?" target="_blank">
    <img src="../../../../assets/img/whatsapp.png" alt="Whatsapp">
  </a>
</div>

<section>
    <app-banners></app-banners>
</section>

<section *ngIf="isLogged()" class="pt-3 pb-5 no-display-app">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 col-8 pl-4">
            <h2 class="title-top">Subastas Vigentes</h2>
          </div>
          <div class="col-md-5 col-4 pr-4">
            <a [routerLink]="['/Catalogo/Vigentes']">
              <h2 class="title-view-more">Ver todo ></h2>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="arraySubastasVigentes.length == 0">
          <p class="text-center no-data">No se encontraron subastas vigentes</p>
      </div>
      <div class="col-lg-12 scroll-top-app" *ngIf="arraySubastasVigentes.length > 0">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let subasta of arraySubastasVigentes">
                <ng-template carouselSlide>
                  <div class="product d-flex flex-column" style="margin-left: 10px; margin-right: 10px;">
                    <div class="row">
                      <div class="col-lg-12">
                        <!-- <a [routerLink]="['/Producto']" [queryParams]="{id: subasta.Codigo}" [ngClass]="{ 'disable': subasta.Stock == 0 }" style="cursor: pointer;"> -->
                          <div class="img-prod">
                            <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                            <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                            <div class="price">
                              <div class="title-price">
                                <span>Precio Base</span>
                              </div>
                              <div class="amount-price">
                                <span>S/ {{formatNumber(subasta.Precio)}}</span>
                              </div>
                            </div>
                            <div class="overlay"></div>
                          </div>
    
                          <div class="col-md-12 pt-1 pb-1">
                            <p class="text-variedad">{{ subasta.Variedad }}</p>
                            <div class="text">
                              <div class="d-flex detail-product hl-align-flex">
                                <div class="text-tops sub-menu">
                                  <p>{{ subasta.Nombre }}</p>
                                </div>
                              </div>
                            </div>
                            <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                            <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                            <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>
    
                            <button class="btn-view-more bg-btn-vigente col-md-12" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                            <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                          </div>
                        <!-- </a> -->
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isLogged()" class="pt-3 pb-5 no-display-web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 col-8 pl-4">
            <h2 class="title-top">Subastas Vigentes</h2>
          </div>
          <div class="col-md-5 col-4 pr-4">
            <a [routerLink]="['/Catalogo/Vigentes']">
              <h2 class="title-view-more">Ver todo ></h2>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="arraySubastasVigentes.length == 0">
          <p class="text-center no-data">No se encontraron subastas vigentes</p>
      </div>
      <div class="col-lg-12 scroll-top-app" *ngIf="arraySubastasVigentes.length > 0">
        <div class="row" [style.width.px]="arraySubastasVigentes.length*200">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div style="width: 200px;" *ngFor="let subasta of arraySubastasVigentes">
                <div class="product d-flex flex-column" style="margin-left: 10px; margin-right: 10px;">
                  <div class="row">
                    <div class="col-lg-12">
                      <!-- <a [routerLink]="['/Producto']" [queryParams]="{id: subasta.Codigo}" [ngClass]="{ 'disable': subasta.Stock == 0 }" style="cursor: pointer;"> -->
                        <div class="img-prod">
                          <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                          <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                          <div class="price">
                            <div class="title-price">
                              <span>Precio Base</span>
                            </div>
                            <div class="amount-price">
                              <span>S/ {{formatNumber(subasta.Precio)}}</span>
                            </div>
                          </div>
                          <div class="overlay"></div>
                        </div>

                        <div class="col-md-12 pt-1 pb-1">
                          <p class="text-variedad">{{ subasta.Variedad }}</p>
                          <div class="text">
                            <div class="d-flex detail-product hl-align-flex">
                              <div class="text-tops sub-menu">
                                <p>{{ subasta.Nombre }}</p>
                              </div>
                            </div>
                          </div>
                          <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                          <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                          <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>

                          <button class="btn-view-more bg-btn-vigente col-md-12" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                          <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isLogged()" style="background-color: #FCFAFA;" class="pt-3 pb-5 no-display-app">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 col-8 pl-4">
            <h2 class="title-top">Subastas Próximas</h2>
          </div>
          <div class="col-md-5 col-4 pr-4">
            <a [routerLink]="['/Catalogo/Proximas']">
              <h2 class="title-view-more">Ver todo ></h2>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="arraySubastasProximas.length == 0">
          <p class="text-center no-data">No se encontraron subastas próximas</p>
      </div>
      <div class="col-lg-12 scroll-top-app" *ngIf="arraySubastasProximas.length > 0">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let subasta of arraySubastasProximas">
                <ng-template carouselSlide>
                  <div class="product d-flex flex-column" style="margin-left: 10px; margin-right: 10px;">
                    <div class="row">
                      <div class="col-lg-12">
                        <!-- <a [routerLink]="['/Producto']" [queryParams]="{id: subasta.Codigo}" [ngClass]="{ 'disable': subasta.Stock == 0 }" style="cursor: pointer;"> -->
                          <div class="img-prod">
                            <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                            <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                            <div class="price">
                              <div class="title-price">
                                <span>Precio Base</span>
                              </div>
                              <div class="amount-price">
                                <span>S/ {{formatNumber(subasta.Precio)}}</span>
                              </div>
                            </div>
                            <div class="overlay"></div>
                          </div>
    
                          <div class="col-md-12 pt-1 pb-1">
                            <p class="text-variedad">{{ subasta.Variedad }}</p>
                            <div class="text">
                              <div class="d-flex detail-product hl-align-flex">
                                <div class="text-tops sub-menu">
                                  <p>{{ subasta.Nombre }}</p>
                                </div>
                              </div>
                            </div>
                            <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                            <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                            <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>
    
                            <button class="btn-view-more bg-btn-proxima col-md-12" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                            <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                          </div>
                        <!-- </a> -->
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isLogged()" style="background-color: #FCFAFA;" class="pt-3 pb-5 no-display-web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 col-8 pl-4">
            <h2 class="title-top">Subastas Próximas</h2>
          </div>
          <div class="col-md-5 col-4 pr-4">
            <a [routerLink]="['/Catalogo/Proximas']">
              <h2 class="title-view-more">Ver todo ></h2>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="arraySubastasProximas.length == 0">
          <p class="text-center no-data">No se encontraron subastas próximas</p>
      </div>
      <div class="col-lg-12 scroll-top-app" *ngIf="arraySubastasProximas.length > 0">
        <div class="row" [style.width.px]="arraySubastasProximas.length*200">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div style="width: 200px;" *ngFor="let subasta of arraySubastasProximas">
                <div class="product d-flex flex-column" style="margin-left: 10px; margin-right: 10px;">
                  <div class="row">
                    <div class="col-lg-12">
                      <!-- <a [routerLink]="['/Producto']" [queryParams]="{id: subasta.Codigo}" [ngClass]="{ 'disable': subasta.Stock == 0 }" style="cursor: pointer;"> -->
                        <div class="img-prod">
                          <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                          <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                          <div class="price">
                            <div class="title-price">
                              <span>Precio Base</span>
                            </div>
                            <div class="amount-price">
                              <span>S/ {{formatNumber(subasta.Precio)}}</span>
                            </div>
                          </div>
                          <div class="overlay"></div>
                        </div>

                        <div class="col-md-12 pt-1 pb-1">
                          <p class="text-variedad">{{ subasta.Variedad }}</p>
                          <div class="text">
                            <div class="d-flex detail-product hl-align-flex">
                              <div class="text-tops sub-menu">
                                <p>{{ subasta.Nombre }}</p>
                              </div>
                            </div>
                          </div>
                          <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                          <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                          <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>

                          <button class="btn-view-more bg-btn-proxima col-md-12" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                          <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isLogged()" class="pt-3 pb-5 no-display-app">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 col-8 pl-4">
            <h2 class="title-top">Subastas Cerradas</h2>
          </div>
          <div class="col-md-5 col-4 pr-4">
            <a [routerLink]="['/Catalogo/Cerradas']">
              <h2 class="title-view-more">Ver todo ></h2>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="arraySubastasCerradas.length == 0">
          <p class="text-center no-data">No se encontraron subastas cerradas</p>
      </div>
      <div class="col-lg-12 scroll-top-app" *ngIf="arraySubastasCerradas.length > 0">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let subasta of arraySubastasCerradas">
                <ng-template carouselSlide>
                  <div class="product d-flex flex-column" style="margin-left: 10px; margin-right: 10px;">
                    <div class="row">
                      <div class="col-lg-12">
                        <!-- <a [routerLink]="['/Producto']" [queryParams]="{id: subasta.Codigo}" [ngClass]="{ 'disable': subasta.Stock == 0 }" style="cursor: pointer;"> -->
                          <div class="img-prod">
                            <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                            <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                            <div class="price">
                              <div class="title-price">
                                <span>Precio Base</span>
                              </div>
                              <div class="amount-price">
                                <span>S/ {{formatNumber(subasta.Precio)}}</span>
                              </div>
                            </div>
                            <div class="overlay"></div>
                          </div>
    
                          <div class="col-md-12 pt-1 pb-1">
                            <p class="text-variedad">{{ subasta.Variedad }}</p>
                            <div class="text">
                              <div class="d-flex detail-product hl-align-flex">
                                <div class="text-tops sub-menu">
                                  <p>{{ subasta.Nombre }}</p>
                                </div>
                              </div>
                            </div>
                            <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                            <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                            <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>
    
                            <button class="btn-view-more bg-btn-cerrada col-md-12" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                            <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                          </div>
                        <!-- </a> -->
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isLogged()" class="pt-3 pb-5 no-display-web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5 col-8 pl-4">
            <h2 class="title-top">Subastas Cerradas</h2>
          </div>
          <div class="col-md-5 col-4 pr-4">
            <a [routerLink]="['/Catalogo/Cerradas']">
              <h2 class="title-view-more">Ver todo ></h2>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="arraySubastasCerradas.length == 0">
          <p class="text-center no-data">No se encontraron subastas cerradas</p>
      </div>
      <div class="col-lg-12 scroll-top-app" *ngIf="arraySubastasCerradas.length > 0">
        <div class="row" [style.width.px]="arraySubastasCerradas.length*200">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div style="width: 200px;" *ngFor="let subasta of arraySubastasCerradas">
                <div class="product d-flex flex-column" style="margin-left: 10px; margin-right: 10px;">
                  <div class="row">
                    <div class="col-lg-12">
                      <!-- <a [routerLink]="['/Producto']" [queryParams]="{id: subasta.Codigo}" [ngClass]="{ 'disable': subasta.Stock == 0 }" style="cursor: pointer;"> -->
                        <div class="img-prod">
                          <img class="img-fluid" src="{{ subasta.UrlImagen }}" alt="Colorlib Template">
                          <img *ngIf="subasta.IsNew" class="img-new" src="../../../../assets/img/new.png">
                          <div class="price">
                            <div class="title-price">
                              <span>Precio Base</span>
                            </div>
                            <div class="amount-price">
                              <span>S/ {{formatNumber(subasta.Precio)}}</span>
                            </div>
                          </div>
                          <div class="overlay"></div>
                        </div>

                        <div class="col-md-12 pt-1 pb-1">
                          <p class="text-variedad">{{ subasta.Variedad }}</p>
                          <div class="text">
                            <div class="d-flex detail-product hl-align-flex">
                              <div class="text-tops sub-menu">
                                <p>{{ subasta.Nombre }}</p>
                              </div>
                            </div>
                          </div>
                          <p class="text-fechalugar">{{ subasta.FechaSubasta + ' - ' + subasta.LugarDespacho }}</p>
                          <p class="text-horario">{{ 'H. Inicio: ' + subasta.HoraInicio }}</p>
                          <p class="text-horario">{{ 'H. Fin: ' + subasta.HoraFin }}</p>

                          <button class="btn-view-more bg-btn-cerrada col-md-12" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}">Ver más</button>
                          <!-- <a class="btn-view-more" [routerLink]="['/Producto']" [queryParams]="{id: subasta.CodigoSubasta}" style="cursor: pointer;">Ver más</a> -->
                        </div>
                      <!-- </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>