.padding-row {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.img-prod {
    position: relative;
}

.container-product-top {
    padding-right: 5px !important;
    padding-left: 5px !important;

    /deep/ .product  {
        position: relative;
        border-radius: 0px;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        width: 100%;
    
        .text {
            padding-top: 0px !important;
        }
    }

    .img-fluid {
        opacity: 1;
    }

    .img-prod img {
        //padding: 10px;
        height: auto;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        //padding-top: 40px;
    }

    .img-agotado {
        position: absolute;
        left: 0;
        opacity: 1;
    }

    .rating-product {
        width: 100%;
        text-align: center;
        display: inline-block;
    
        /deep/ ngb-rating span {
            color: #F37100;
            font-size: 0.8rem;
        }
    }

    .text-stock {
        width: 50%;
        text-align: right;
        display: inline-block;

        .in-stock {
            color: #00c08b !important;
            text-align: right;
            font-size: 14px !important;
            font-weight: bold;
            margin-bottom: 0px !important;
        }
    
        .spent {
            color: #ee5050 !important;
            text-align: right;
            font-size: 14px !important;
            font-weight: bold;
            margin-bottom: 0px !important;
        }
    }

    a.disable {
        pointer-events: none;
        cursor: default;
    }

    .pricing {
        width: 50%;
        text-align: left;
        display: inline-block;
    
        // .price {
        //     //color: #7d7d7d !important;
        //     color: #ee5050;
        //     text-align: left;
        //     font-size: 13px !important;
        //     font-weight: bold;
        //     margin-bottom: 0px !important;

        //     .through {
        //         //padding-left: 5px;
        //         text-decoration: line-through;
        //         color: #7d7d7d !important;
        //         font-size: 12px;
        //     }
        // }
    }
}

.sub-menu {
    //text-align: -webkit-center;
    p {
        text-overflow: ellipsis;
        color: #005B40 !important;
        font-weight: 600;
        font-size: 18px;
        max-width: 170px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 5px;
    }
}

.container-btn-shortcut {
    padding: 0px 25px;
    margin-bottom: 10px;

    .btn-shortcut-add {
        width: 100%;
        background-color: #006068;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #006068;
        border-radius: 5px;
        text-align: center;
        margin-top: 5px;
        padding: 5px 0px;
        height: 40px;

        &.disable {
            pointer-events: none;
        }
    }

    .container-edit-btn {
        margin: 0px 0px;
        margin-top: 5px;
        background-color: #00c08b;
        padding: 5px 0px;
        border-radius: 5px;
        color: white;

        .edit-btn {
            text-align: center;

            .edit-cantidad {
                cursor: pointer;
                font-weight: bold;
            }

            label {
                vertical-align: -webkit-baseline-middle;
                margin-bottom: 0px !important;
            }

            .form-control:disabled, .form-control[readonly] {
                background-color: transparent;
                opacity: 1;
            }

            .form-control {
                height: 30px;
                text-align: center;
                border: 0px;
                font-size: 14px;
                font-weight: bold;
                color: white !important;
            }
        }
    }
}

.title-top {
    text-align: left;
    font-weight: 600;
    color: #005B40;
    font-size: 30px;
    margin: 28px 0px;
}

.title-view-more {
    text-align: right;
    font-weight: 500;
    color: #5DA142;
    font-size: 14px;
    margin: 28px 0px;
    text-decoration: underline;
}

.container-promo {
    margin-bottom: 50px;

    .img-promo {
        width: 98%;
        border-radius: 5px;
    }
}

/deep/ .toastr-warning {
    background-color: #F37100 !important;
}

.about_us {
    background-image: url('../../../../assets/img/about_us.png');
    height: 320px;
    background-size: cover;
    background-repeat: round;

    .title {
        color: #006068;
        font-size: 22px;
    }

    .description {
        color: white;
        font-size: 12px;
        text-align: justify;
    }
}

.text-tops { 
    p {
        font-size: 18px;
    }
}

.btn-green-solid {
    width: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: 0px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 5px 0px;
    padding: 15px 30px;
    // background-color: #185640 !important;
    background-image: linear-gradient(to top,#006068, #00C08B);
    color: white !important;
    // font-size: 16px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.text-variedad {
    color: #755c5c;
    font-size: 10px;
    font-family: Avenir-Light !important;
    margin-bottom: 0px !important;
    min-height: 15px;
}

.text-fechalugar {
    font-size: 13px;
    color: #5DA142 !important;
    font-family: Avenir-Light !important;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    max-width: 170px;
    overflow: hidden;
    white-space: nowrap;
}

.text-horario {
    margin-bottom: 2px;
    font-size: 13px;
    color: #606060;
    font-family: Avenir-Light !important;
}

.text-horario:nth-last-child(1) {
    margin-bottom: 0px !important;
}

.btn-view-more {
    border-radius: 5px;
    padding-top: 5px;
    padding: 5px 0px;
    color: white;
    font-size: 12px;
    font-family: Avenir-Light !important;
    margin: 6px 0px;
}

.bg-btn-vigente {
    background-color: #DA202E;
    border: 1px solid #DA202E;
}

.bg-btn-proxima {
    background-color: #5DA142;
    border: 1px solid #5DA142;
}

.bg-btn-cerrada {
    background-color: #2277A8;
    border: 1px solid #2277A8;
}

.img-new {
    width: 45px !important;
    position: absolute;
    top: 0;
    left: 8%;
}

.no-data {
    text-align: center !important;
    font-size: 20px;
    color: #606060;
    font-family: Avenir-Light !important;
    margin-bottom: 0px !important;
}

.price {
    position: absolute;
    bottom: 0;
    right: 4%;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 13px;

    .title-price {
        font-size: 9px;
        color: #005B40;
        font-family: Avenir-Bold !important;
    }

    .amount-price {
        font-size: 14px;
        color: #DA202E;
        font-family: Avenir-Bold !important;
    }
}

@media (max-width: 768px) {
    .price {
        padding: 4px 10px !important;
    
        .title-price {
            font-size: 8px !important;
        }
    
        .amount-price {
            font-size: 12px !important;
        }
    }
}