<!-- <h2 class="title-categories">
  Categorías
</h2> -->

<div class="slider-web">
  <ngb-carousel class="slider-image-home" #carousel>
    <ng-template ngbSlide> <!--*ngFor="let group of arrCategorias"-->
      <div class="row" style="width: 100%; margin: 0px;">
        <div class="col-lg-12">
          <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
            <!-- <div class="col-lg-1"></div> -->
            <div class="col-lg-12" style="padding: 0 5.5rem; text-align: center;">
              <div class="category-group" *ngFor="let category of arrCategorias_">
                <div class="row category-container" [routerLink]="'/Catalogo/' + category.Categoria">
                  <div class="col-lg-12">
                    <img [src]="category.FotoResponsive[0].ImgResponsive" alt="category.Categoria" style="width: auto; height: 45px;box-shadow: none !important;">
                  </div>
                  <div class="col-lg-12 no-padding-x">
                    <a>{{ formatText(category.Categoria) }}</a> <!--class="bg-light" -->
                  </div>
                </div>
                <!-- <img src="{{ image.UrlImg }}" alt=""> -->
              </div>
            </div>
            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>
      </div>
      
    </ng-template>
  </ngb-carousel>
</div>

<div class="slider-app">
  <!-- <div *ngFor="let group of arrCategorias"> -->
    <div class="row" style="width: 100%; margin: 0px;">
      <div class="col-lg-12">
        <div class="category-wraper">
          <div class="row size-cont-category">
            <!-- <div class="col-lg-1"></div> -->
            <!-- <div class="category-group" *ngFor="let category of arrCategorias_">
              <a class="bg-light" [routerLink]="'/Catalogo/' + category.Categoria" [ngStyle]="{ 'background-image': 'url(' + category.FotoResponsive[0].ImgResponsive + ')'}" style="background-size: cover; background-repeat: no-repeat;">{{ category.Categoria }}</a>
              <img src="{{ image.UrlImg }}" alt="">
            </div> -->

            <div class="category-group col-6" *ngFor="let category of arrCategorias_">
              <div class="row category-container" [routerLink]="'/Catalogo/' + category.Categoria">
                <div class="col-lg-12">
                  <img [src]="category.FotoResponsive[0].ImgResponsive" alt="category.Categoria" style="width: auto; height: 45px;box-shadow: none !important;">
                </div>
                <div class="col-lg-12 no-padding-x">
                  <a>{{ formatText(category.Categoria) }}</a> <!--class="bg-light" -->
                </div>
              </div>
              <!-- <img src="{{ image.UrlImg }}" alt=""> -->
            </div>

            <!-- <div class="col-lg-1"></div> -->
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>