/deep/ .slider-image-home .carousel-item.active {
    display: flex !important;
}

.slider-web {
    /deep/ .carousel-control-prev {
        background-color: transparent;
        position: absolute;
        left: -30px;
        top: 70px;
        display: none !important;
    }

    /deep/ .carousel-control-next {
        background-color: transparent;
        position: absolute;
        right: -30px;
        top: 70px;
        display: none !important;
    }

    /deep/ .carousel-control-prev:hover {
        background-color: transparent;
    }

    /deep/ .carousel-control-next:hover {
        background-color: transparent;
    }

    /deep/ .carousel-control-prev-icon::before {
        content: none !important;
    }

    /deep/ .carousel-control-next-icon::before {
        content: none !important;
    }

    /deep/ .carousel .carousel-control-prev-icon {
        background-image : url("../../../../assets/img/previous.png") !important;
        color: black !important;
        width: 40px;
        height: 40px;
    }

    /deep/ .carousel .carousel-control-next-icon {
        background-image : url("../../../../assets/img/next.png") !important;
        color: black !important;
        width: 40px;
        height: 40px;
    }

    .category-group {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px 0px;
        border-radius: 5px;
        padding: 0px 5px;
        display: inline-block;

        .category-container {
            margin: 0px 15px;
            padding: 25px 0px;
            border-radius: 10px;
            cursor: pointer;
        }

        .category-container:hover {
            box-shadow: 0px 0px 2px 3px rgba(130, 233, 161, 0.3) !important;
        }
    
        a {
            display: flex;
            font-size: 13px;
            color: #0f0f0f;
            font-weight: bold;
            padding: 10px 2px;
            justify-content: center;
            align-items: center;
            width: 100%;
            // height: 70px;
            border-radius: 5px;
        }
    
        // a:hover  {
        //     background-color: #AAB92C !important;
        //     color: white;
        // }
    }
}

.slider-app {
    .category-group {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 15px 0px;
        border-radius: 5px;
        padding: 0px 5px;
        width: 200px;
        height: 80px;

        a {
            display: flex;
            font-size: 16px;
            color: #0f0f0f;
            font-weight: bold;
            padding: 10px 15px;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            // margin-left: 10px;
        }

        a:hover  {
            background-color: transparent !important;
            color: white;
        }
    }
}