
.banner-carousel {
    /deep/ .carousel-inner {
        padding: 0px !important;

        /deep/ .carousel-item img {
            height: auto !important;
            width: 100% !important;
        }
    }

    /deep/ .carousel-indicators {
        align-items: center;
        bottom: 0px !important;

        li {
            background-color: white;
            //padding: 6px;
            border-radius: 40px;
            width: 0px !important;
            height: 0px !important;
            border-top: 0px !important;
            border-bottom: 0px !important;
            opacity: 1;
            margin-right: 5px !important;
            margin-left: 5px !important;

            &.active {
                background-color: #DA202E !important;
                //padding: 8px !important;
            }
        }
    }
}

/deep/ .carousel-inner .carousel-item img {
    border-radius: 0px !important;
}

.picsum-img-wrapper {
    img {
        cursor: pointer;
    }
}