<ngb-carousel #carousel class="banner-carousel no-display-app">
  <ng-template ngbSlide *ngFor="let banner of arrBannersWeb">
    <div class="picsum-img-wrapper">
      <a href="#">
        <img [src]="banner.UrlImagen" [alt]="banner.Descripcion">
      </a>
    </div>
  </ng-template>
</ngb-carousel>

<ngb-carousel #carousel2 class="banner-carousel no-display-web">
  <ng-template ngbSlide *ngFor="let banner of arrBannersApp">
    <div class="picsum-img-wrapper">
      <a href="#">
        <img [src]="banner.UrlImagen" [alt]="banner.Descripcion">
      </a>
    </div>
  </ng-template>
</ngb-carousel>
