<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/background.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container" style="margin-top: 250px;">
                <div class="title-brand col-md-7">
                    <!--<div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>-->
                    <h1 class="presentation-title"><b>Ahora el Perú será una potencia mundial en Berries</b></h1>
                    <!--<div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>-->
                </div>

                <h2 class="presentation-subtitle col-md-6">
                    <br><br>
                    Desde la genética hasta el laboratorio, del vivero al campo y de la planta empacadora al mundo. 
                    Inka's Berries participa en toda la cadena de valor del arándano. 
                </h2>

                
                <div class="col-md-6">
                    <br>
                    <button style="display: inline-block; cursor: default; text-transform: none;" type="button" class="btn btn-primary-2 btn-round">Descúbrenos</button>
                </div>
            </div>
        </div>
        
        <!--<div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>-->
    </div>
    <div class="main">
        <!--
        <app-basicelements></app-basicelements>
        <app-navigation></app-navigation>
        <app-typography></app-typography>-->

        <div class="wrapper">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form class="register-form">
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-email-85"></i>
                                </span>
                            </div>

                                <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                            </div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                            </div>
                                <input type="text" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                            <button class="btn btn-danger btn-block btn-round">Register</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h3>ASD</h3>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Somewhere</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Somewhere else</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Here it is</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
</div>
