/deep/ .modal-resumen {
    /deep/ .modal-content {
        width: 100% !important;
        left: 0% !important;

        .modal-header {
            padding: 0px;
            padding-top: 15px;

            .modal-title {
                color: #185640;
            }

            button.close {
                margin-top: -75px;
                margin-right: -35px;
                border-radius: 50px;
                background-color: #AAB92C;
                opacity: 1;
                color: white;
                padding: 16px 8px 18px 8px;
                line-height: 6px;
                font-size: 35px;
            }
        }

        .modal-body {
            .container-detail-general {
                margin: 0px;
                padding: 10px;
                margin-bottom: 15px;
                border-radius: 5px;

                .container-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    .img-detail {
                        height: 100%;
                        padding-left: 3px;
                    }
                }

                .number_order {
                    margin-bottom: 0px;
                    font-size: 14px;
                    color: #185640;
                    text-align: left;
                }
        
                .number_doc {
                    font-size: 12px;
                    color: #F37100;
                    margin-bottom: 10px;
                    text-align: left;
                }
        
                .detail_order {
                    font-size: 12px;
                    color: #656565;
                }
            }
        }

        .container-details {
            padding: 10px;

            .table-resumen {
                width: 100%;
                margin-bottom: 10px;
    
                th {
                    font-size: 14px;
                    color: #2f2e2e;
    
                    &.th-product {
                        width: 40%;
                        text-align: left;
                    }
        
                    &.th-quantity, &.th-punit {
                        width: 20%;
                        text-align: center;
                    }
    
                    &.th-ptotal {
                        text-align: right;
                    }
                }
    
                td {
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-product {
                        text-align: left;
                    }
        
                    &.td-quantity, &.td-punit {
                        text-align: center;
                    }
    
                    &.td-ptotal {
                        text-align: right;
                    }
                }
            }
    
            .table-subtotal {
                width: 100%;
                margin-bottom: 10px;
                border-top: 1px solid #dedbdb;
    
                td {
                    width: 50%;
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-desc {
                        text-align: left;
                    }
    
                    &.td-value {
                        text-align: right;
                    }
                }
            }

            .table-bolsas {
                width: 100%;
                margin-bottom: 10px;
                border-top: 1px solid #dedbdb;
    
                td {
                    //width: 50%;
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-desc {
                        width: 40%;
                        text-align: left;
                    }

                    &.td-cant, &.td-price {
                        padding-top: 10px;
                        width: 20%;
                        text-align: center;
                    }

                    &.td-value {
                        width: 20%;
                        text-align: right;
                    }
                }
            }
    
            .table-total {
                width: 100%;
                border-top: 1px solid #dedbdb;
                margin-bottom: 10px;
    
                td {
                    width: 50%;
                    font-size: 12px;
                    color: #F37100;
                    padding-bottom: 5px;

                    &.td-desc {
                        text-align: left;
                    }
    
                    &.td-value {
                        text-align: right;
                    }
                }
            }
    
            .table-forma-pago {
                width: 100%;
                border-top: 1px solid #dedbdb;
                margin-bottom: 10px;
    
                th {
                    &.th-title-forma {
                        font-size: 14px;
                        color: #2f2e2e;
                    }
                }
    
                td {
                    width: 100%;
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-desc-forma {
                        text-align: left;
                    }
                }
            }
    
            .table-tipo-entrega {
                width: 100%;
                border-top: 1px solid #dedbdb;
                margin-bottom: 10px;
    
                th {
                    &.th-title-entrega {
                        font-size: 14px;
                        color: #2f2e2e;
                    }
                }
    
                td {
                    width: 100%;
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-desc-entrega {
                        text-align: left;
                    }
                }
            }

            .table-factura {
                width: 100%;
                border-top: 1px solid #dedbdb;
                margin-bottom: 10px;
    
                th {
                    &.th-title-factura {
                        font-size: 14px;
                        color: #2f2e2e;
                    }
                }
    
                td {
                    width: 100%;
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-desc-factura {
                        text-align: left;
                    }
                }
            }

            .table-tercero {
                width: 100%;
                border-top: 1px solid #dedbdb;
                margin-bottom: 10px;
    
                th {
                    &.th-title-tercero {
                        font-size: 14px;
                        color: #2f2e2e;
                    }
                }
    
                td {
                    width: 100%;
                    font-size: 12px;
                    color: #656565;
                    padding-bottom: 5px;

                    &.td-desc-tercero {
                        text-align: left;
                    }
                }
            }
    
            .table-subtotal tr:first-child, .table-bolsas tr:first-child, .table-total tr:first-child,
            .table-forma-pago tr:first-child, .table-tipo-entrega tr:first-child, .table-factura tr:first-child,
            .table-tercero tr:first-child {
                .td-desc, .td-value, .th-title-forma, .th-title-entrega, .th-title-factura, .th-title-tercero {
                    padding-top: 10px;
                }
            }
        }
    }
}