<div class="modal-header">
  <div class="col-lg-12">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close pull-right close-web" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <button type="button" id="close" class="close-app close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="row container-detail-general bg-gray">
        <div class="col-lg-4 col-4 container-img">
          <img class="img-detail" src="../../../../assets/img/listado_pedidos.png" alt="Pedido N">
        </div>
        <div class="col-lg-8 col-8">
          <p class="number_order">PEDIDO {{ objPedido.PedidoVta }}</p>
          <p class="number_doc">Documento {{ objPedido.Numero }}</p>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 no-padding-x">
                <div class="row">
                  <div class="col-lg-5 col-6 detail_order">
                    N° Documento:
                  </div>
                  <div class="col-lg-7 col-6 detail_order no-padding-x">
                    {{ objPedido.Serie }}-{{ objPedido.Numero }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 no-padding-x">
                <div class="row">
                  <div class="col-lg-5 col-6 detail_order">
                    Fecha Doc.:
                  </div>
                  <div class="col-lg-7 col-6 detail_order no-padding-x">
                    {{ objPedido.FechaDocumento }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 no-padding-x">
                <div class="row">
                  <div class="col-lg-5 col-6 detail_order">
                    Fecha Pedido:
                  </div>
                  <div class="col-lg-7 col-6 detail_order no-padding-x">
                    {{ objPedido.FechaPedido }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 no-padding-x">
                <div class="row">
                  <div class="col-lg-5 col-6 detail_order">
                    Fecha Entrega:
                  </div>
                  <div class="col-lg-7 col-6 detail_order no-padding-x">
                    {{ objPedido.FechaEntrega }}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 no-padding-x">
                <div class="row">
                  <div class="col-lg-5 col-6 detail_order">
                    Cantidad:
                  </div>
                  <div class="col-lg-7 col-6 detail_order no-padding-x">
                    {{ objPedido.CantTotal }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row container-details">
        <div class="col-lg-12">
          <table class="table-resumen">
            <tr>
              <th class="th-product">Productos</th>
              <th class="th-quantity">Cantidad</th>
              <th class="th-punit">P. Unitario</th>
              <th class="th-ptotal">P. Total</th>
            </tr>
          
            <tr *ngFor="let detail of objPedido.DPedido">
              <td class="td-product">- {{ detail.DescripcionMaterial }}</td>
              <td class="td-quantity">{{ detail.Cantidad }}</td>
              <td class="td-punit">S/ {{ formatNumber(detail.PrecioUnitario) }}</td>
              <td class="td-ptotal">S/ {{ formatNumber(detail.SubTotal) }}</td>
            </tr>
          </table>
        </div>
  
        <div class="col-lg-12">
          <table class="table-subtotal">
            <tr>
              <td class="td-desc">Subtotal de productos</td>
              <td class="td-value">S/ {{ formatNumber(objPedido.Total - objPedido.CostoEnvio -objPedido.TotalIBC) }}</td>
            </tr>
            <tr>
              <td class="td-desc">Delivery</td>
              <td class="td-value">S/ {{ formatNumber(objPedido.CostoEnvio) }}</td>
            </tr>
          </table>
        </div>

        <div class="col-lg-12">
          <table class="table-bolsas">
            <tr>
              <td class="td-desc">Bolsa Biodegradable</td>
              <td class="td-cant">{{ objPedido.CantidadBolsas }}</td>
              <td class="td-price">S/ 0.40</td>
              <td class="td-value">S/ {{ formatNumber(objPedido.TotalIBC) }}</td>
            </tr>
          </table>
        </div>
  
        <div class="col-lg-12">
          <table class="table-total">
            <tr>
              <td class="td-desc">Total</td>
              <td class="td-value">S/ {{ formatNumber(objPedido.Total) }}</td>
            </tr>
          </table>
        </div>
  
        <div class="col-lg-12">
          <table class="table-forma-pago">
            <tr>
              <th class="th-title-forma">Forma de Pago</th>
            </tr>
            <tr>
              <td class="td-desc-forma">{{ objPedido.TipoPago }}</td>
            </tr>
          </table>
        </div>
  
        <div class="col-lg-12">
          <table class="table-tipo-entrega">
            <tr>
              <th class="th-title-entrega">Tipo de Entrega</th>
            </tr>
            <tr *ngIf="!objPedido.Planta">
              <td class="td-desc-entrega">Despacho a Domicilio</td>
            </tr>
            <tr *ngIf="objPedido.Planta">
              <td class="td-desc-entrega">Recojo en Planta</td>
            </tr>
            <tr *ngIf="!objPedido.Planta">
              <td class="td-desc-entrega">{{ objPedido.Direccion }}</td>
            </tr>
            <tr *ngIf="objPedido.Referencia != null && objPedido.Referencia != '' && !objPedido.Planta">
              <td class="td-desc-entrega">{{ objPedido.Referencia }}</td>
            </tr>
          </table>
        </div>

        <div class="col-lg-12" *ngIf="objPedido.RUC != '' && objPedido.RUC != null && objPedido.RUC != 'null'">
          <table class="table-factura">
            <tr>
              <th class="th-title-factura">Datos de Factura</th>
            </tr>
            <tr>
              <td class="td-desc-factura">RUC: {{ objPedido.RUC }}</td>
            </tr>
            <tr>
              <td class="td-desc-factura">Razón Social: {{ objPedido.RazonSocial }}</td>
            </tr>
          </table>
        </div>

        <div class="col-lg-12" *ngIf="objPedido.NombreTercero != '' && objPedido.NombreTercero != null && objPedido.NombreTercero != 'null'">
          <table class="table-tercero">
            <tr>
              <th class="th-title-tercero">Datos de Usuario (Tercero)</th>
            </tr>
            <tr>
              <td class="td-desc-tercero">Nombres: {{ objPedido.NombreTercero }}</td>
            </tr>
            <tr>
              <td class="td-desc-tercero">DNI: {{ objPedido.DocumentoTercero }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>