<footer class="ftco-footer ftco-section bg-solid-footer footer-section">
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-3 pr-4 logo-footer">
        <div class="row" style="padding-top: 0px;">
          <div class="col-md-12 col-6 logo-danper no-display-app">
            <img src="../../../assets/img/logo_negativo.png" alt="" style="width: 27%;">
          </div>
          <div class="col-md-12 col-12 logo-danper no-display-web">
            <img class="no-display-web" src="../../../assets/img/logo_negativo.png" alt="" style="width: 25%;">
          </div>
          <!-- <div class="col-md-6 col-6" style="border-left: 2px solid white;">
            <a target="_blank" rel="noopener noreferrer" href="http://danper.com/">
              <img src="../../../assets/img/logo_danper_blanco.png" alt="">
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-md-1"></div>
      <!-- <div class="col-md-2 pl-5 no-padding-x logo-social">
        <div class="ftco-footer-widget">
          <ul class="list-unstyled">
            <li>
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/hortifrut.berries/">
                <img class="img-footer" src="../../../assets/img/fb.png" alt="Facebook">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hortifrut_berries/?hl=es-la">
                <img class="img-footer" src="../../../assets/img/ig.png" alt="Instagram">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOlWjsIdLW7VzJbzRquMk1A">
                <img class="img-footer" src="../../../assets/img/yt.png" alt="Youtube">
              </a>
            </li>
          </ul>
        </div>
      </div> -->

      <!-- <div class="col-md-2 no-padding-x data-legal no-display-app">
        <div class="ftco-footer-widget">
          <ul class="list-unstyled" style="padding-left: 25px;">
            <li class="d-block">
              <img src="../../../../assets/img/whatsapp.png" alt="Whatsapp" class="img-wts-web">
              <img src="../../../../assets/img/whatsapp.png" alt="Whatsapp" class="img-wts-app">
              Comunícate con nosotros
            </li>
            <li class="d-block">
              Lima: 948 317 439
            </li>
            <li class="d-block">
              Provincia: 976 372 665
            </li>
          </ul>
        </div>
        <div class="border-section-footer"></div>
      </div> -->

      <div class="panel-group col-12 accordion-footer-app" id="accordion" role="tablist" aria-multiselectable="true">
        <ngb-accordion #acc="ngbAccordion" class="range-accordion accordion-filters" (panelChange)="toggleAccordian($event)" [destroyOnHide]="false" id="generalAccordion">
          <ngb-panel title="Comunícate con Nosotros" id="Comunicate">
            <ng-template ngbPanelTitle>
              <i *ngIf="!showIconGeneral('Comunicate')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 11px; font-size: 12px;"></i>
              <i *ngIf="showIconGeneral('Comunicate')" class="fas fa-chevron-up" style="position: absolute; right: 8px; top: 11px; font-size: 12px;"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="ftco-footer-widget">
                <ul class="list-unstyled list-app">
                  <li class="d-block">
                    +51 999 999 999
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Horario" id="Horario">
            <ng-template ngbPanelTitle>
              <i *ngIf="!showIconGeneral('Horario')" class="fas fa-chevron-down" style="position: absolute; right: 8px; top: 11px; font-size: 12px;"></i>
              <i *ngIf="showIconGeneral('Horario')" class="fas fa-chevron-up" style="position: absolute; right: 8px; top: 11px; font-size: 12px;"></i>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="ftco-footer-widget">
                <ul class="list-unstyled list-app">
                  <li class="d-block">
                    Lun - vie: 09:00 - 20:00
                  </li>
                  <li class="d-block">
                    Sáb - Dom: 09:00 - 13:00
                  </li>
                </ul>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-12 rights-app" style="padding-top: 35px; padding-left: 40px;">
        <div class="col-md-6 text-right cr no-padding-x">
          <ul class="list-unstyled" style="margin-bottom: 0px !important; padding-left: 0px !important; text-align: center;">
            <li style="padding-bottom: 0px !important;">
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/hortifrut.berries/">
                <img class="img-footer" src="../../../assets/img/fb.png" alt="Facebook">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hortifrut_berries/?hl=es-la">
                <img class="img-footer" src="../../../assets/img/ig.png" alt="Instagram">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOlWjsIdLW7VzJbzRquMk1A">
                <img class="img-footer" src="../../../assets/img/yt.png" alt="Youtube">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 no-padding-x data-legal no-display-app">
        
      </div>
      <div class="col-md-2 no-padding-x data-legal no-display-app">
        <div class="ftco-footer-widget">
          <ul class="list-unstyled text-left" style="padding-left: 35px;">
            <li class="d-block">
              Horarios:
            </li>
            <li class="d-block">
              Lun - vie: 09:00 - 20:00
            </li>
            <li class="d-block">
              Sáb - Dom: 09:00 - 13:00
            </li>
          </ul>
        </div>
        <div class="border-section-footer"></div>
      </div>
      <div class="col-md-2 no-padding-x data-legal no-display-app">
        <div class="ftco-footer-widget">
          <ul class="list-unstyled text-right" style="padding-left: 35px;">
            <li class="d-block">
              Comunícate con nosotros
            </li>
            <li class="d-block">
              +51 999 999 999
            </li>
            <li class="d-block">
              <div class="ftco-footer-widget">
                <ul class="list-unstyled">
                  <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/hortifrut.berries/">
                      <img class="img-footer" src="../../../assets/img/fb.png" alt="Facebook">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hortifrut_berries/?hl=es-la">
                      <img class="img-footer" src="../../../assets/img/ig.png" alt="Instagram">
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOlWjsIdLW7VzJbzRquMk1A">
                      <img class="img-footer" style="padding-right: 0px !important;" src="../../../assets/img/yt.png" alt="Youtube">
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md-2 no-padding-x data-legal no-display-app">
        <div class="ftco-footer-widget">
          <ul class="list-unstyled" style="padding-left: 35px;">
            <li class="d-block">
              <a target="_blank" rel="noopener noreferrer" [routerLink]="['/Bienvenida']">Bienvenida</a>
            </li>
            <li class="d-block">
              <a target="_blank" rel="noopener noreferrer" [routerLink]="['/FinesAdicionales']">Fines Adicionales</a>
            </li>
            <li class="d-block">
              <a target="_blank" rel="noopener noreferrer" [routerLink]="['/PoliticaPrivacidad']">Políticas de Privacidad</a>
            </li>
            <li class="d-block">
              <a target="_blank" rel="noopener noreferrer" [routerLink]="['/ProcesoCompras']">Proceso de Compra</a>
            </li>
            <li class="d-block">
              <a target="_blank" rel="noopener noreferrer" [routerLink]="['/TerminosCondiciones']">Términos y Condiciones</a>
            </li>
          </ul>
        </div>
      </div> -->
      <!-- <div class="col-md-2 no-padding-x compl-book">
        <div class="ftco-footer-widget pb20-app">
          <ul class="list-unstyled">
            <li class="d-flex" style="justify-content: flex-end;">
              <img class="img-footer-reclamacion" src="../../../assets/img/libro_reclamaciones.png" alt="Libro Reclamaciones" (click)="goLibroReclamaciones()">
            </li>
          </ul>
        </div>
      </div> -->
    </div>    
  </div>

  <div class="cont-cr-footer">
    <div class="cr-footer container">
      <div class="row rights-web">
        <!-- <div class="col-md-4 text-left cr no-padding-x d-flex v-align-flex">
          <ul class="list-unstyled" style="margin-bottom: 0px !important;">
            <li style="padding-bottom: 0px !important;">
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/hortifrut.berries/">
                <img class="img-footer" src="../../../assets/img/fb.png" alt="Facebook">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hortifrut_berries/?hl=es-la">
                <img class="img-footer" src="../../../assets/img/ig.png" alt="Instagram">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOlWjsIdLW7VzJbzRquMk1A">
                <img class="img-footer" src="../../../assets/img/yt.png" alt="Youtube">
              </a>
            </li>
          </ul>
        </div> -->
        <div class="col-md-6 text-left cr no-padding-x">
          <p style="font-size: 12px; font-family: Avenir-Light !important;">© {{year}} Hortifrut | Todos los derechos reservados<i class="icon-heart color-danger" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-6 text-right cr no-padding-x">
          <p style="font-size: 12px; font-family: Avenir-Light !important;">Hecho con ♥ por Extech<i class="icon-heart color-danger" aria-hidden="true"></i></p>
        </div>
      </div>

      <div class="row rights-app">
        <!-- <div class="col-md-6 text-right cr no-padding-x">
          <ul class="list-unstyled" style="margin-bottom: 0px !important; padding-left: 0px !important; text-align: center;">
            <li style="padding-bottom: 0px !important;">
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/hortifrut.berries/">
                <img class="img-footer" src="../../../assets/img/fb.png" alt="Facebook">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hortifrut_berries/?hl=es-la">
                <img class="img-footer" src="../../../assets/img/ig.png" alt="Instagram">
              </a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCOlWjsIdLW7VzJbzRquMk1A">
                <img class="img-footer" src="../../../assets/img/yt.png" alt="Youtube">
              </a>
            </li>
          </ul>
        </div> -->

        <div class="col-md-6 text-right cr no-padding-x">
          <p style="font-size: 12px; text-align: center; color: white; padding: 20px;">© {{year}} Hortifrut | Todos los derechos reservados</p>
        </div>
  
        <div class="col-md-6 text-left cr no-padding-x" style="background-color: #014D36; padding: 5px 0px;">
          <p style="font-size: 14px; text-align: center;">Hecho con ♥ por Extech</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row bg-white visa-net no-margin-x" style="display: none !important;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-left cr no-padding-x d-flex v-align-flex">

          <p class="text-visa" style="font-size: 13px;">Esta tienda está autorizada por Visa para realizar transacciones electrónicas.</p>
        </div>
        <div class="col-md-6 text-right cr no-padding-x d-flex v-align-flex">
          <div class="row no-margin-x d-flex v-align-flex" style="width: 100%; height: 100%;">
            <div class="col-md-9"></div>
            <div class="col-md-3 no-padding-x">
              <ul class="row no-margin-x logos-visa">
                <li class="col-md-6 col-2 d-flex v-align-flex">
                    <img src="../../../../assets/img/visa_pos.png">
                </li>
                <li class="col-md-6 col-2 d-flex v-align-flex">
                    <img src="../../../../assets/img/verified_visa_white.jpg">
                </li>
              </ul>
            </div>
            <!-- <div class="col-md-1">
              <img src="../../../../assets/img/visa_pos.png" alt="">
            </div>
            <div class="col-md-1">
              <img src="../../../../assets/img/verified_visa_white.jpg" alt="">
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<form ngNoForm name="ingreso" method="POST" [action]="url_libro" target="_blank" style="display: none !important;">
  <input hidden name="usuario" id="UserLR" type="text" value="danper_ope1"/>
  <input hidden name="token" id="TokenLR" type="text" value="809fac8ad59bb643252c4617349c1b77" />
  <input type="submit" name="enviar" value="Ingresar" id="btnLibro"/>
</form>