.list-unstyled {
    li {
        padding-bottom: 5px;
    }
}

.img-footer {
    padding-right: 13px;
    height: 30px;
}

.img-footer-reclamacion {
    height: 70px;
    padding-right: 0px;
    cursor: pointer;
}

.visa-net {
    p {
        margin: 0px;
        padding-left: 10px;
        color: #bcbcbc;
    }

    img {
        width: 100%;
        height: auto;
    }

    ul {
        padding-left: 0px;
        list-style: none;
        margin-bottom: 0px;

        li {
            display: inline-block;
        }
    }
}

.footer-section {
    .list-unstyled {
        .d-block {
            font-family: Avenir-Light !important;

            a {
                color: white;
            }
        }
    }
}

.border-section-footer {
    position: absolute;
    top: 10px;
    right: -10px;
    height: 50px;
    border-right: 2px solid white;
    opacity: 0.17;
}