<div class="bg-gray">
  <div class="container pt-5 pb-5 no-padding-top-app">
    <div class="row">
      <div class="col-lg-3">
        <app-menu-perfil [opcion]="2"></app-menu-perfil>
      </div>
      <div class="col-lg-9 no-padding-x-app">
        <div class="container-opcion bg-white">
          <div class="row">
            <div class="col-lg-12 col-12">
              <h4 class="title-head">Cambiar Contraseña</h4>
            </div>

            <div class="col-lg-12">
              <form [formGroup]="form" class="form-user">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>Contraseña Actual</label>
                          <div class="input-group">
                            <input [type]="passLast ? 'text' : 'password'" class="form-control" formControlName="Password">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i
                                  class="fa"
                                  [ngClass]="{
                                    'fa-eye-slash': !passLast,
                                    'fa-eye': passLast
                                  }"
                                  (click)="changeIconPass(1)"
                                ></i>
                              </span>
                            </div>
                          </div>
                          <div class="error" *ngIf="form.controls.Password.errors?.required && form.controls.Password.touched">
                            * Campo requerido
                          </div>
                          <div class="error" *ngIf="form.controls.Password.errors?.minlength && form.controls.Password.touched">
                            * Debe tener 8 caracteres como mínimo
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Contraseña Nueva</label>
                      <div class="input-group">
                        <input [type]="passNew ? 'text' : 'password'" class="form-control" formControlName="NewPassword">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i
                              class="fa"
                              [ngClass]="{
                                'fa-eye-slash': !passNew,
                                'fa-eye': passNew
                              }"
                              (click)="changeIconPass(2)"
                            ></i>
                          </span>
                        </div>
                      </div>
                      <div class="error" *ngIf="form.controls.NewPassword.errors?.required && form.controls.NewPassword.touched">
                        * Campo requerido
                      </div>
                      <div class="error" *ngIf="form.controls.NewPassword.errors?.minlength && form.controls.NewPassword.touched">
                        * Debe tener 8 caracteres como mínimo
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Confirmar Contraseña</label>
                      <div class="input-group">
                        <input [type]="passReNew ? 'text' : 'password'" class="form-control" formControlName="ReNewPassword">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i
                              class="fa"
                              [ngClass]="{
                                'fa-eye-slash': !passReNew,
                                'fa-eye': passReNew
                              }"
                              (click)="changeIconPass(3)"
                            ></i>
                          </span>
                        </div>
                      </div>
                      <div class="error" *ngIf="form.controls.ReNewPassword.errors?.required && form.controls.ReNewPassword.touched">
                        * Campo requerido
                      </div>
                      <div class="error" *ngIf="form.controls.ReNewPassword.errors?.minlength && form.controls.ReNewPassword.touched" (keypress)="changeShowError()">
                        * Debe tener 8 caracteres como mínimo
                      </div>
                      <div class="error" *ngIf="showErrorRePass">
                        * Las contraseñas no coinciden
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 btn-user" *ngIf="!typeUser">
                    <button (click)="onSubmit()">GUARDAR</button>
                  </div>

                  <div class="col-lg-12 btn-user-disable" *ngIf="typeUser">
                    <button>GUARDAR</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>