.container-opcion {
    padding: 20px;
    padding-bottom: 40px;

    .title-head {
        font-size: 20px;
        margin-bottom: 0px;
        color: #185640;
        padding-bottom: 26px;
    }

    .user-danper {
        text-align: right;
        font-size: 12px;
        top: -5px;

        .img-danper {
            width: 50px;
        }
    }

    .form-user {
        .form-group {
            label {
                color: #c3c3c3;
                font-size: 13px;
                margin-bottom: 0px;
            }
    
            .form-control {
                border-radius: 0px;
                border: 0px;
                border-bottom: 1px solid #c3c3c3;
                font-size: 13px;
            }
    
            .form-control:focus {
                border-radius: 0px;
                border: 0px;
                border-bottom: 1px solid #c3c3c3;
                box-shadow: none;
            }

            .input-group-text {
                align-items: flex-end !important;
                border: 0px !important;
                padding: 0px 0.75rem !important;

                i {
                    cursor: pointer;
                }
            }
        }

        .btn-user {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;

            button {
                color: white;
                background-color: #5da142;
                font-size: 16px;
                border-radius: 5px;
                width: 200px;
                padding: 10px 0px;
                border-color: #5da142;
                -webkit-appearance: media-slider;
            }
        }

        .btn-user-disable {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;

            button {
                color: white;
                background-color: #C2C2C2;
                font-size: 16px;
                border-radius: 5px;
                width: 200px;
                padding: 10px 0px;
                border-color: #C2C2C2;
                -webkit-appearance: media-slider;
                cursor: not-allowed;
            }
        }
    }
}

.error {
    color: #dc3545;
    text-align: right;
    font-size: 0.7rem;
    padding-right: 40px;
}

.text-alert-error {
    text-align: justify !important;
    color: black !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.alert-error {
    line-height: 31px;
    color: red;
}

.container-alert {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    border: 2px solid red;
    padding: 13px 0px !important;
    margin-top: 25px !important;
    margin-bottom: 10px !important;
}

.ng-invalid .ng-touched {
    border-color:#dc3545 !important;
}

.ng-touched .ng-valid{
    border-color: black !important;    
}