/deep/ .carousel .carousel-control-prev-icon {
    background-image: url("../../../../../assets/img/previous.png") !important;
    color: black !important;
}

/deep/ .carousel .carousel-control-next-icon {
    background-image: url("../../../../../assets/img/next.png") !important;
    color: black !important;
}

/deep/ .carousel-control-prev {
    background-color: transparent;
    position: absolute;
    justify-content: flex-start;
    left: 0px;
    top: 50%;
 }

/deep/ .carousel-control-next {
    background-color: transparent;
    position: absolute;
    justify-content: flex-end;
    right: 0px;
    top: 50%;
 }

/deep/ .carousel-control-prev:hover {
    background-color: transparent;
 }

/deep/ .carousel-control-next:hover {
    background-color: transparent;
 }

/deep/ .carousel-control-next-icon::before, /deep/ .carousel-control-prev-icon::before {
    content: none !important;
}

// /deep/ .product {
//     border: none;
//     width: 100%;
//     //padding: 0px 50px;
// }

/deep/ .carousel-inner .carousel-item img {
    border-radius: 0px !important;
}

/deep/ .carousel-indicators {
    bottom: -100px;
}

/deep/ .carousel-inner {
    padding: 0px 30px;
}

/deep/ ngb-rating span {
    color: #AAB92C;
    font-size: 14px;
}

/deep/ .rate-inf ngb-rating span {
    color: #AAB92C;
    font-size: 1.5rem;
}

.rating-inf {
    text-align: center;
    // display: flex;
    // justify-content: center;
}

.text-cat-1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 10px;
    color: #bcbcbc;
}

.text-cat-2 {
    color: #006068;
    font-weight: bold;
    font-size: 20px;
}

.discount {
    margin: 0px;
    padding: 3px;
    font-size: 9px;
    background-color: #ff4e4e;
    color: white;
    vertical-align: middle;
}

.container-price {
    display: flex;
    align-items: flex-start;//center;
}

.price {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #ee5050;
    font-weight: 500;
    font-weight: bold;

    .through {
        padding-left: 8px;
        text-decoration: line-through;
        color: #7d7d7d !important;
        font-size: 14px;
    }
}

.last-price {
    color: #7d7d7d;
    font-size: 12px;
    text-decoration: line-through;
}

.product-data-order {
    margin-right: 0px;

    label {
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: bold;
        color: #7b7b7b;
    }

    /deep/ .form-control:disabled, .form-control[readonly] {
        background-color: white;
        border: 0px;
    }

    /deep/ .form-group {
        margin-bottom: 0px;
    }
}

.product-data-order select, .product-data-order select::placeholder {
    border-color: #bcbcbc;
    //border-bottom: 1px solid #bcbcbc;
    font-size: 14px;
    font-weight: bold;
    color: #7b7b7b;
}

.lbl-colors {
    margin: 5px 0px;
    font-size: 16px !important;
}


.colors {
    margin-bottom: 20px;

    span {
        padding: 0px 10px;
        margin-right: 5px;
    }
}

.color-black {
    background-color: black;
}

.color-brown {
    background-color: brown;
}

.color-blue {
    background-color: blue;
}

.color-gray {
    background-color: gray;
}

.btn-order {
    background-color: #DA202E;
    width: 90%;
    max-height: 50px;
    border-radius: 10px;
    border: 1px solid #DA202E;
    color: white;
    font-size: 16px;
    padding: 10px 0px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

/deep/ .content-detail {
    display: list-item;
    list-style-type: none;
    color: #7b7b7b;
}

p.content-detail:before {
    content: "-";
    font-size: 50px;
    vertical-align: text-bottom;
    color: #bcbcbc;
    margin-right: 10px;
}

.qual-number, .rate-inf h3 {
    font-size: 40px;
    color: #7b7b7b;
    font-weight: bold;
}

.qual-text {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #7b7b7b;
}

.img-prod img {
    padding: 10px;
    //height: 200px !important;
    width: 100%;
    border-radius: 20px;
}

.products-rel {
    .title-prod-rel, .title-qual {
        color: #006068;
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0px;
    }
    
    .rating-inf {
        text-align: center;

        /deep/ .rate-inf ngb-rating span {
            color: #aece30;
            font-size: 1.5rem;
        }

        .rate-inf {
            background-color: white;
            padding-left: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            border: 1px solid #185640;
            width: 30%;

            .rate-general {
                span {
                    font-size: 40px;
                    font-weight: bold;
                    color: #185640;
                }
            }

            .rate-detail-general {
                text-align: left;
                padding-left: 5px !important;
                padding-top: 5px;
            
                /deep/ ngb-rating span {
                    color: #185640;
                    font-size: 1rem;
                }
            
                span {
                    color: #185640;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
    }

    // .product {
    //     box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3) !important;
    //     background-color: transparent !important;
    //     //border: 1px solid #bcbcbc;
    //     position: relative;
    //     border-radius: 5px !important;
    // }

    .container-btn-shortcut {
        padding: 0px 25px;
        margin-bottom: 10px;
    
        .btn-shortcut-add {
            width: 100%;
            background-color: #006068;
            color: white;
            font-weight: bold;
            font-size: 14px;
            border: 1px solid #006068;
            border-radius: 5px;
            text-align: center;
            margin-top: 5px;
            padding: 5px 0px;
            height: 40px;

            &.disable {
                pointer-events: none;
            }
        }
    
        .container-edit-btn {
            margin: 0px 0px;
            margin-top: 5px;
            background-color: #00c08b;
            padding: 5px 0px;
            border-radius: 5px;
            color: white;
    
            .edit-btn {
                text-align: center;
    
                .edit-cantidad {
                    cursor: pointer;
                    font-weight: bold;
                }
    
                label {
                    vertical-align: -webkit-baseline-middle;
                    margin-bottom: 0px !important;
                }
    
                .form-control:disabled, .form-control[readonly] {
                    background-color: transparent;
                    opacity: 1;
                }
    
                .form-control {
                    height: 30px;
                    text-align: center;
                    border: 0px;
                    font-size: 14px;
                    font-weight: bold;
                    color: white !important;
                }
            }
        }
    }

    // .price {
    //     color: #e99191;
    //     text-align: center;
    //     font-size: 12px;
    //     font-weight: bold;
    //     margin-bottom: 0px !important;
    // }

    .pricing {
        width: 50%;
        text-align: left !important;
        display: inline-block;
    
        .price {
            color: #ee5050 !important;
            text-align: left !important;
            font-size: 14px !important;
            font-weight: bold;
            margin-bottom: 0px !important;

            .through {
                padding-left: 0px !important;
                text-decoration: line-through;
                color: #7d7d7d !important;
                font-size: 12px;
            }
        }
    }
    
    .text-stock {
        width: 50%;
        text-align: right !important;
        display: inline-block;
    
        .in-stock {
            color: #00c08b !important;
            text-align: right;
            font-size: 14px !important;
            font-weight: bold;
            margin-bottom: 0px !important;
        }
    
        .spent {
            color: #ee5050 !important;
            text-align: right;
            font-size: 14px !important;
            font-weight: bold;
            margin-bottom: 0px !important;
        }
    }

    .fa-product {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.1rem;
        color: #7d7d7d;
    }

    .detail-product {
        justify-content: center;

        .sub-menu {
            //text-align: -webkit-center;
        
            p {
                text-overflow: ellipsis;
                color: #006068 !important;
                font-weight: 600;
                font-size: 12px;
                max-width: 195px;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 0px;
            }
        }   
    }

    .rating-product {
        width: 100%;
        text-align: center;
        display: inline-block;
    
        /deep/ ngb-rating span {
            color: #f7a51b;
            font-size: 14px;
        }
    }

    .content-product-main {
        padding-top: 0px !important;
        padding-bottom: 2px !important;
    }

    .img-prod {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            padding: 0px !important;
            width: 100%;
            height: auto;
        }
    }
}

.colors-detail {
    cursor: pointer;
}

select:focus {
    box-shadow: none !important;
    outline-width: 0px !important;
}

.active {
    border: 3px solid black;
}

form {
    width: 100%;
}

.error {
    color: #dc3545;
    margin-left: 15px;
    font-size: 12px;
}

.ng-invalid .ng-touched {
    border-color:#dc3545 !important;
}

.ng-touched .ng-valid{
    border-color: black !important;    
}

/deep/ .md-confirm {
    /deep/ .modal-content {
        width: 90% !important;
        left: 5% !important;
        border-radius: 20px !important;

        .form-control {
            font-size: 30px !important;
            font-family: Avenir-Light !important;
            height: 50px;
            text-align: center !important;
            border-bottom: 0px !important;
            margin: 10px 0px !important;
        }

        .container-oferta {
            border: 1px solid #707070;
            padding: 5px;
            border-radius: 20px;
        }

        .container-controls-oferta {
            position: absolute;
            right: 2%;
            top: 20%;

            div {
                padding: 2px 0px;
            }
        }

        .form-control:disabled, .form-control[readonly] {
            background-color: white !important;
        }
    }
}

.modal-confirm {
    //padding: 5px;

    /deep/ .modal-header {
        border-color: #da202e !important;
        padding: 15px;
        background-color: #da202e !important;
        color: white;
        border-top-right-radius: 18px !important;
        border-top-left-radius: 18px !important;    

        h5.modal-title {
            font-size: 18px;
            font-weight: bold;
            color: white !important;
            font-family: Avenir-Light !important;
        }
    }

    /deep/ .modal-header button.close {
        margin-top: -60px;
        margin-right: -35px;
        padding: 16px 8px 18px 8px;
        border-radius: 50px;
        background-color: #adadad;
        opacity: 1;
        color: white;
        font-weight: normal;
        line-height: 6px;
        font-size: 35px;
        font-family: Avenir-Light !important;
    }

    /deep/ .d-flex {
        display: flex !important;
    }

    .continue {
        text-decoration: underline;
        color: #006068 !important;
        margin-top: 5px;
        font-weight: 600 !important;
        margin-bottom: 10px !important;
        text-align: center;
        cursor: pointer;
    }

    /deep/ .modal-body {
        button {
            margin: 0px !important;
        }

        padding-bottom: 10px;

        padding-left: 45px;
        padding-right: 45px;

        padding-top: 25px;

        .text-ofertar {
            color: #5DA142 !important;
            font-size: 16px;
            text-transform: uppercase;
            font-family: Avenir-Light !important;
            font-weight: bold;
            text-align: center;
            padding: 20px 0px;;
        }

        .text-cat-1 {
            font-size: 9px !important;
        }

        .text-cat-2 {
            font-size: 16px !important;
            margin-bottom: 5px;
        }

        .text-detail-product {
            margin: 3px 0px;
            padding: 5px 0px !important;
            color: #7b7b7b;
            border-top: 1px solid #7b7b7b;
            border-bottom: 1px solid #7b7b7b;
            font-size: 9px;
        }

        .title-product-confirm {
            font-size: 0.9rem;
            font-weight: bold;
        }
        .btn-middle {
            background-color: #da202e !important;
            color: white;
            font-size: 18px;
            width: 50%;

            a {
                color: white;
            }
        }

        // img {
        //     width: 100%;
        //     height: 105px;
        //     margin-bottom: 20px;
        // }

        .container-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .img-dproduct {
                height: 105px;
                //padding: 0px 20px;
                max-width: 100%;
            }
        }

        p {
            text-align: left;
            margin-bottom: 0px;
            font-size: 0.8rem;
            color: #7b7b7b !important;

            span {
                color: 7b7b7b;
            }

            .last-price-confirm {
                margin-left: 27px;
            }

            .discount {
                position: absolute;
                right: 0;
                padding: 0px;
                margin-right: 20px;
            }
        }

        .price {
            color: #ee5050 !important;
            font-size: 25px;
            margin-top: 3px;
            margin-bottom: 10px !important;
            font-weight: bold;
        }
    }
}

ul.list-pre-order {
    margin-top: 15px;
    list-style: none;
    padding-left: 0px;

    p {
        margin-left: 20px;
        font-size: 10px;
        margin-bottom: 0px;
    }

    li {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

ul.list-pre-order li:before {
    content: '✓';
    margin-right: 10px;
    font-weight: bold;
}

.stock-spent {
    color: red;
    font-size: 14px;
}

.btn-spent {
    border: 1px solid #C2C2C2 !important;
    background-color: #C2C2C2 !important;
}

.rate-detail-general {
    text-align: left;
    padding-left: 5px !important;

    /deep/ ngb-rating span {
        color: white;
        font-size: 1rem;
    }

    span {
        color: white;
        font-size: 14px;
    }
}

.no-padding-x {
    padding-left: 0px;
    padding-right: 0px;
}

.rate-general {
    span {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

.list-rating {
    padding-left: 0px;
    margin-top: 10px;

    span {
        margin-right: 5px;
        color: #7b7b7b;
    }

    li {
        list-style-type: none;

        div {
            display: inline-block;
            width: 18%;
            vertical-align: text-bottom;
        }

        /deep/ ngb-rating span {
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
}

#carouselDetail {
    /deep/ .carousel-indicators .active {
        background-color: white;
    }

    /deep/ .carousel-indicators li {
        width: 50px;
        height: 50px;
        background-color: none;
        opacity: 1;
        border: 1px solid black;
    }
}

.sub-menu {
    text-align: -webkit-center;

    span {
        color: #7d7d7d !important;
        font-weight: 600;
        font-size: 11px;
    }
}

.container-detail-product {
    .container-img {
        width: 100%;
        align-items: center;

        .img-dproduct {
            height: auto;
            //padding: 0px 20px;
            max-width: 100%;
        }
    }

    .text-detail-product {
        margin: 15px 0px;
        padding: 10px 0px;
        border-top: 1px solid #b9b0b0;
        border-bottom: 1px solid #b9b0b0;

        /deep/ p {
            font-size: 12px;
            color: #7b7b7b;
            margin-bottom: 0px;
            text-align: justify;
        }
    }

    .text-detail-product p {
        padding: 10px 0px !important;
        font-size: 12px;
        color: #7b7b7b;
    }

    .edit-cantidad {
        text-align: center;
        border-radius: 5px;
        background-color: #ececec;
        border: 1px solid #ececec;
        width: 100%;
        height: 100%;
        line-height: 35px;
        cursor: pointer;

        &.disable {
            background-color: #C2C2C2;
            cursor: not-allowed;
            border: 1px solid #C2C2C2;
            color: white;
        }
    }

    /deep/ .form-control {
        text-align: center;
    }

    .text-stock {
        label {
            padding: 5px 15px;
            border-radius: 50px;
            border-color: #F0F0F0;
            color: white;
            margin-top: 5px !important;
            margin-bottom: 10px !important;
            font-size: 12px !important;
        }

        .in-stock {
            background-color: #00c08b;
            text-align: right !important;
            font-weight: bold;
        }
    
        .spent {
            background-color: #C2C2C2;
            text-align: right !important;
            font-weight: bold;
        }
    }
}

.pricing {
    width: 50%;
    text-align: left !important;
    display: inline-block;

    .price {
        color: #7d7d7d !important;
        text-align: left !important;
        font-size: 14px !important;
        //font-weight: bold;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

.rating-product {
    width: 50%;
    text-align: right;
    display: inline-block;

    /deep/ ngb-rating span {
        color: #9fbc2c;
        font-size: 0.8rem;
    }
}

.sub-menu {
    //text-align: -webkit-center;

    p {
        text-overflow: ellipsis;
        color: #7d7d7d !important;
        font-weight: normal;
        font-size: 12px;
        max-width: 220px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0px;
    }
}

.message-discount {
    height: 20px;
    margin-bottom: 0px;
    color: #bc3178;
    font-weight: bold;
    font-size: 14px;
}

.detail-img-selected {
    border: 2px solid red;
}

.container-info-subasta {
    span {
        font-size: 13px;
        color: #606060;
        font-family: Avenir-Light !important;
    }
}

.text-nombre-detail {
    color: #005b40;
    font-weight: bold;
    font-size: 24px;
}

.text-variedad-detail {
    background-color: #fcfafa;
    font-size: 16px;
    color: #5da142;
    font-family: Avenir;
    text-align: center;
    border-radius: 10px;
    margin: 15px 0px !important;
    padding: 6px 0px;
    width: 100%;
}

.container-schedule {
    border-radius: 30px;
    border: 2px solid #5DA142;
    padding: 20px 5px;
    text-align: center;
    justify-content: center;
    width: 90%;
}

.ofertas-zero {
    text-align: center;
    color: #606060;
    font-family: Avenir-Light !important;
    font-size: 20px;
    margin-bottom: 0px !important;
}

.title-competidores {
    color: #005b40;
    // font-size: 20px;
    margin: 10px 0px;
}

.container-timeline-singular {
    width: 100%;

    /deep/ li.current, /deep/ li {
        width: 100% !important;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li::before {
        background-color: #5da142 !important;
        content: ' ';
        position: absolute;
        height: 3px !important;
        width: 100%;
        top: -8px;
        left: 0% !important;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator {
        top: -17.5px !important;
        width: 20px !important;
        height: 20px !important;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator {
        background-color: white !important;
        border: 3px solid #005B40;
    }

    /deep/ aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
        color: #606060;
        font-size: 12px !important;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator.oferta-propia {
        background-color: white !important;
        border: 3px solid #DA202E !important;
    }

    /deep/ .label.oferta-propia {
        color: #DA202E !important;
    }
}

.container-timeline-plural {
    width: 100%;

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li:not(:last-child):before {
        background-color: #5da142 !important;
        height: 3px !important;
        width: 200% !important;
        left: 0% !important;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator {
        top: -17.5px !important;
        width: 20px !important;
        height: 20px !important;
        background-color: white !important;
        border: 3px solid #005B40;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.current .step-indicator {
        background-color: white !important;
        border: 3px solid #005B40;
    }

    /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.current .step-indicator.oferta-propia, /deep/ aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li .step-indicator.oferta-propia {
        background-color: white !important;
        border: 3px solid #DA202E !important;
    }

    /deep/ .label.oferta-propia {
        color: #DA202E !important;
    }

    /deep/ aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
        color: #606060;
        font-size: 12px !important;
    }
}

@media (max-width: 768px) {
    .text-nombre-detail {
        text-align: center;
    }

    .text-variedad-detail {
        width: 80% !important;
    }

    .title-competidores {
        text-align: center;
    }

    .btn-order {
        width: 60% !important;
    }

    .text-ofertar {
        font-size: 14px !important;
    }

    /deep/ .md-confirm .modal-content .form-control {
        height: 30px !important;
    }

    /deep/ .md-confirm .modal-content .container-controls-oferta {
        right: 3% !important;
        top: 10% !important;
    }

    /deep/ .modal-confirm .modal-body .btn-middle {
        width: 70% !important;
    }

    .mt-1-app {
        margin-top: 1rem !important;
    }

    .container-price-cat {
        .title-price {
            font-size: 20px !important;
        }
    
        .amount-price {
            font-size: 27px !important;
        }
    }

    .container-price-cat-app {
        .title-price {
            font-size: 15px !important;
        }
    
        .amount-price {
            font-size: 23px !important;
        }
    }
}

.container-price-cat, .container-price-cat-app {
    align-items: center;

    .title-price {
        font-size: 13px;
        color: #005B40;
        font-family: Avenir !important;
        padding-right: 10px;
    }

    .amount-price {
        font-size: 18px;
        color: #DA202E;
        font-family: Avenir !important;
    }
}