<section class="bg-white" style="position: relative;">
  <div class="icon-cupon-product-web" *ngIf="arraySubasta.Cupon">
    <img src="../../../../assets/img/cupon_product.png" alt="">
  </div>
  <div class="icon-cupon-product-movil" *ngIf="arraySubasta.Cupon">
    <img src="../../../../assets/img/cupon_movil.png" alt="">
  </div>
  <!-- <h1>HOLA</h1>
  <h3>{{time_string}}</h3> -->
  <div class="pt-3" *ngIf="showProduct">
    <div class="container bg-white pb-4">
      <div class="row container-detail-product">
        <div class="col-md-1 col-lg-1 mt-5 no-display-app">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-12 ftco-animate d-flex mb-2" *ngFor="let imgSubasta of arrayFotosSubasta">
              <div class="d-flex flex-column container-img" (click)="changeImgSelected(imgSubasta.FotoSubasta)">
                <img class="img-dproduct" [src]="imgSubasta.UrlImagen" [ngClass]="{ 'detail-img-selected' : imgSubasta.Selected }" alt="">
              </div>
            </div>      
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mt-1-app mt-5" style="display: flex; justify-content: center; align-items: center;">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-12 ftco-animate d-flex mb-2">
              <div class="d-flex flex-column container-img">
                <img class="img-dproduct" [src]="imgSelected" alt="">
              </div>
            </div>      
          </div>
        </div>
        <div class="col-md-1 col-lg-1 mt-1 no-display-web">
          <div class="row h-align-flex">
            <div class="col-sm-12 col-md-6 col-lg-12 col-3 ftco-animate d-flex mb-2" *ngFor="let imgSubasta of arrayFotosSubasta">
              <div class="d-flex flex-column container-img" (click)="changeImgSelected(imgSubasta.FotoSubasta)">
                <img class="img-dproduct" [src]="imgSubasta.UrlImagen" [ngClass]="{ 'detail-img-selected' : imgSubasta.Selected }" alt="">
              </div>
            </div>      
          </div>
        </div>

        <div class="col-md-4 col-lg-4 mt-1-app mt-5 d-flex v-align-flex">
          <div>
            <div class="sidebar">
              <div class="sidebar-box-2">
                <h4 class="text-nombre-detail" style="margin-bottom: 0px !important;">{{ arraySubasta.Nombre }}</h4>
                <div class="row">
                  <div class="col-md-12 d-flex h-align-flex">
                    <p class="text-variedad-detail">{{ arraySubasta.Variedad + ' / ' + arraySubasta.Kg + 'kg' }}</p>
                  </div>
                  <div class="col-md-12 col-12 container-data">
                    <div class="row">
                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>Fecha de Cierre:</span>
                      </div>
                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>{{ arraySubasta.FechaSubasta + '(' + arraySubasta.HoraFin + ')' }}</span>
                      </div>

                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>Fecha de Despacho:</span>
                      </div>
                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>{{ arraySubasta.FechaDespacho }}</span>
                      </div>

                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>Categoría de Fruta:</span>
                      </div>
                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>{{ arraySubasta.Categoria }}</span>
                      </div>

                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>Lugar de Despacho:</span>
                      </div>
                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>{{ arraySubasta.LugarDespacho }}</span>
                      </div>

                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>Hora de Despacho:</span>
                      </div>
                      <div class="col-md-6 col-6 container-info-subasta">
                        <span>{{ arraySubasta.HoraDespacho }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex h-align-flex container-price-cat no-display-web mt-5">
          <span class="title-price">Precio Base</span><span class="amount-price"> S/ {{formatNumber(arraySubasta.Precio)}}</span>
        </div>
        <div class="col-md-3 col-lg-3 mt-5 d-flex v-align-flex h-align-flex">
          <div class="row container-schedule no-display-app">
            <div class="col-md-12">
              <span *ngIf="arraySubasta.Vigente" style="font-size: 20px; color: #3F3F3F;">Queda</span>
              <span *ngIf="arraySubasta.Cerrado" style="font-size: 20px; color: #3F3F3F;">Subasta terminada</span>
              <span *ngIf="!arraySubasta.Vigente && !arraySubasta.Cerrado" style="font-size: 20px; color: #3F3F3F;">Subasta pendiente de empezar</span>
            </div>
            <div class="col-md-12" *ngIf="arraySubasta.Vigente || arraySubasta.Subasta.Cerrado">
              <div style="display: inline-block;">
                <div style="color: #EE5050; font-size: 11px; font-family: Avenir !important; text-align: center;">
                  Hrs
                </div>
                <div>
                  <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">{{ time_string.split(':')[0] }}</span>
                </div>
              </div>
              <div style="display: inline-block;">
                <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">
                  :
                </span>
              </div>
              <div style="display: inline-block;">
                <div style="color: #EE5050; font-size: 11px; font-family: Avenir !important; text-align: center;">
                  Min
                </div>
                <div>
                  <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">{{ time_string.split(':')[1] }}</span>
                </div>
              </div>
              <div style="display: inline-block;">
                <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">
                  :
                </span>
              </div>
              <div style="display: inline-block;">
                <div style="color: #EE5050; font-size: 11px; font-family: Avenir !important; text-align: center;">
                  Seg
                </div>
                <div>
                  <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">{{ time_string.split(':')[2] }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="arraySubasta.Vigente">
              <span style="font-size: 20px; color: #3F3F3F;">para ofertar</span>
            </div>
          </div>
          <div class="row container-schedule no-display-web col-9">
            <div class="col-md-12">
              <span *ngIf="arraySubasta.Vigente" style="font-size: 20px; color: #3F3F3F;">Queda</span>
              <span *ngIf="arraySubasta.Cerrado" style="font-size: 20px; color: #3F3F3F;">Subasta terminada</span>
              <span *ngIf="!arraySubasta.Vigente && !arraySubasta.Cerrado" style="font-size: 20px; color: #3F3F3F;">Subasta pendiente de empezar</span>
            </div>
            <div class="col-md-12" *ngIf="arraySubasta.Vigente || arraySubasta.Subasta.Cerrado">
              <div style="display: inline-block;">
                <div style="color: #EE5050; font-size: 11px; font-family: Avenir !important; text-align: center;">
                  Hrs
                </div>
                <div>
                  <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">{{ time_string.split(':')[0] }}</span>
                </div>
              </div>
              <div style="display: inline-block;">
                <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">
                  :
                </span>
              </div>
              <div style="display: inline-block;">
                <div style="color: #EE5050; font-size: 11px; font-family: Avenir !important; text-align: center;">
                  Min
                </div>
                <div>
                  <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">{{ time_string.split(':')[1] }}</span>
                </div>
              </div>
              <div style="display: inline-block;">
                <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">
                  :
                </span>
              </div>
              <div style="display: inline-block;">
                <div style="color: #EE5050; font-size: 11px; font-family: Avenir !important; text-align: center;">
                  Seg
                </div>
                <div>
                  <span style="font-size: 35px; line-height: 25px; color: #EE5050; font-family: Avenir-Bold !important;">{{ time_string.split(':')[2] }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="arraySubasta.Vigente">
              <span style="font-size: 20px; color: #3F3F3F;">para ofertar</span>
            </div>
          </div>
        </div>

        <div class="col-md-9 mt-4 mb-4">
          <h4 class="title-competidores">Oferta Competidores</h4>
        </div>
        <div class="col-md-3 d-flex h-align-flex container-price-cat no-display-app" style="padding-top: 30px;" *ngIf="arraySubasta.Vigente">
          <span class="title-price">Precio Base</span><span class="amount-price"> S/ {{formatNumber(arraySubasta.Precio)}}</span>
        </div>
        <div class="col-md-9">
          <div class="row" style="height: 100%;" *ngIf="arrayOfertas.length == 0">
            <div class="col-md-12 d-flex v-align-flex h-align-flex">
              <p class="ofertas-zero">No se hicieron ofertas</p>
            </div>
          </div>
          <div class="row" style="height: 100%;" *ngIf="arrayOfertas.length == 1">
            <div class="col-md-12 d-flex v-align-flex h-align-flex">
              <div class="container-timeline-singular">
                <aw-wizard>
                  <aw-wizard-step [stepTitle]="oferta.AliasCliente + ' (S/' + oferta.MontoOferta.toFixed(2) + ')'" *ngFor="let oferta of arrayOfertas">
                  </aw-wizard-step>
                </aw-wizard>
              </div>
            </div>
          </div>
          <div class="container-timeline-plural" *ngIf="arrayOfertas.length > 1">
            <aw-wizard>
              <aw-wizard-step [stepTitle]="oferta.AliasCliente + ' (S/' + oferta.MontoOferta.toFixed(2) + ')'" *ngFor="let oferta of arrayOfertas">
              </aw-wizard-step>
            </aw-wizard>
          </div>
        </div>
        <div class="col-md-3 d-flex h-align-flex" *ngIf="arraySubasta.Vigente">
          <button class="btn-order" (click)="openModal(content)">Ofertar</button> <!--  [disabled]="!arraySubasta.Vigente" -->
        </div>
        <div class="col-md-3 d-flex h-align-flex container-price-cat no-display-app" *ngIf="!arraySubasta.Vigente">
          <span class="title-price">Precio Base</span><span class="amount-price"> S/ {{formatNumber(arraySubasta.Precio)}}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal id="modal-confirm">
  <div class="modal-confirm">
    <div class="modal-header">
      <h5 class="modal-title">{{ arraySubasta.Nombre }}</h5>
      <button type="button" id="close" class="close close-web" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="button" id="close" class="close-app close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">        
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-12 container-data pb-2">
              <div class="row">
                <div class="col-md-6 col-6 container-info-subasta">
                  <span>Cantidad:</span>
                </div>
                <div class="col-md-6 col-6 container-info-subasta">
                  <span>{{ arraySubasta.Kg + ' kilos' }}</span>
                </div>

                <div class="col-md-6 col-6 container-info-subasta">
                  <span>Variedad:</span>
                </div>
                <div class="col-md-6 col-6 container-info-subasta">
                  <span>{{ arraySubasta.Variedad }}</span>
                </div>

                <div class="col-md-6 col-6 container-info-subasta">
                  <span>Fecha de Cierre:</span>
                </div>
                <div class="col-md-6 col-6 container-info-subasta">
                  <span>{{ arraySubasta.FechaSubasta }}</span>
                </div>

                <div class="col-md-6 col-6 container-info-subasta">
                  <span>Fecha de Despacho:</span>
                </div>
                <div class="col-md-6 col-6 container-info-subasta">
                  <span>{{ arraySubasta.FechaDespacho }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="col-md-12 d-flex h-align-flex container-price-cat-app no-display-web mt-3">
            <span class="title-price">Precio Base</span><span class="amount-price"> S/ {{formatNumber(arraySubasta.Precio)}}</span>
          </div>
          <div class="col-md-12">
            <p class="text-ofertar">Precio a ofertar</p>
          </div>
          <div class="row">
            <!-- <div class="col-md-4 col-4 padding-px-5">
              <label class="edit-cantidad disable" style="font-size: 25px !important;">-</label>
            </div> -->
            <div class="col-md-1"></div>
            <div class="col-md-10 col-12 container-oferta">
              <div>
                <form [formGroup]="formOferta">
                  <input class="form-control" formControlName="MontoOferta" type="text" disabled>
                  <div class="container-controls-oferta">
                    <div>
                      <img src="../../../../../assets/img/up-oferta.png" alt="" (click)="increase()">
                    </div>
                    <div>
                      <img src="../../../../../assets/img/down-oferta.png" alt="" (click)="decrease()">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-1"></div>
            <!-- <div class="col-md-4 col-4 padding-px-5">
              <label class="edit-cantidad disable" style="font-size: 25px !important;">+</label>
            </div> -->
            <!-- <div class="col-md-4 col-4">
              <div class="row">
                <div class="col-md-12">
                  <img src="../../../../../assets/img/up-oferta.png" alt="">
                </div>
                <div class="col-md-12">
                  <img src="../../../../../assets/img/down-oferta.png" alt="">
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <div class="col-sm-12 mt-4 mb-4 text-center">
          <button class="btn-middle bg-solid mb-2" (click)="onSubmit()">Ofertar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div> -->
</ng-template>