<div class="row menu-perfil bg-white">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="row container-user">
          <div class="col-lg-12 back-options">
            <span [routerLink]="['/MyAccount']">< Regresar</span>
          </div>
          <div class="col-lg-3 col-3 no-display-app">
            <img src="../../../../../assets/img/user_icon.png" alt="User" style="max-width: 100%;">
          </div>
          <div class="col-lg-9 col-9 no-padding-x-web no-display-app">
            <div class="row">
              <div class="col-lg-12 title-general">
                Mi cuenta
              </div>
              <div class="col-lg-12 user-name">
                {{ name_user }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 options-profile-web">
        <div class="row container-opcion">
          <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 1 }">
            <a [routerLink]="['/Profile']">Datos Personales</a>
          </div>
          <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 2 }">
            <a [routerLink]="['/ChangePass']">Cambia tu Clave</a>
          </div>
          <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 3 }">
            <a [routerLink]="['/Orders']">Mis Subastas</a>
          </div>
          <!-- <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 4 }">
            Cupones de Descuento
          </div> -->
          <div class="col-lg-12 opcion-perfil" [ngClass]="{ 'active': opcion == 4 }">
            <a [routerLink]="['/Help']">Centro de Ayuda</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>