.hoverable:hover {
    cursor: pointer;
}

.menu-left, .menu-right {
    background-color: #f8f8f6;
}

.menu-right {
    .head {
        background-image: url(../../../../assets/img/menu-right.png);
        height: 120px;
        background-size: cover;
        background-repeat: round;

        .free-delivery {
            margin-top: 20px;
            display: flex;
            justify-content: center;

            p {
                width: 80%;
                background-color: #006068;
                border-radius: 10px;
                text-align: center;
                padding: 5px;
                margin-bottom: 5px;
            }

            span {
                color: #fff042;
                font-family: Avenir-Bold !important;
                font-size: 15px;

                b {
                    font-weight: bold !important;
                }
            }
        }

        .sub-free-delivery {
            text-align: center;

            span {
                color: white;
                font-family: Avenir-Light !important;
                font-size: 13px;
            }
        }
    }

    .body {
        .compra-online {
            text-align: center;

            span {
                color: #fbbd51;
                font-size: 25px;
                font-family: Blockbe-Condensed !important;
            }
        }

        .reparto {
            text-align: center;

            p {
                span {
                    background-color: #c6c6c6;
                    padding: 3px 7px;
                    border-radius: 10px;

                    a, a:hover, a:focus {
                        font-size: 11px;
                        text-decoration: underline;
                        color: #006068;
                    }
                }

                img {
                    height: 30px;
                    width: auto;
                }
            }
        }

        .atencion-cliente {
            text-align: center;
            margin-bottom: 15px;

            p {
                margin-bottom: 0px !important;
            }

            .ac-header {
                img {
                    height: 15px;
                    width: auto;
                }
    
                span {
                    font-size: 11px;
                    color: #006068;
                    margin-left: 3px;
                    font-family: Avenir-Bold !important;
                }
            }

            .ac-body {
                span {
                    font-size: 11px;
                    color: #006068;
                    font-family: Avenir-Light !important;
                }
            }
        }

        .comunicate {
            text-align: center;
            margin-bottom: 25px;

            p {
                margin-bottom: 0px !important;
            }

            .c-header {
                img {
                    height: 15px;
                    width: auto;
                }
    
                span {
                    font-size: 11px;
                    color: #006068;
                    margin-left: 3px;
                    font-family: Avenir-Bold !important;
                }
            }

            .c-body {
                margin-bottom: 3px !important;

                span {
                    background-color: #00c08b;
                    padding: 3px 7px;
                    border-radius: 10px;

                    a, a:hover, a:focus {
                        font-size: 11px;
                        color: white;
                        font-family: Avenir-Bold !important;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

.menu-body-app {
    .compra-online {
        text-align: center;
        margin-bottom: 12px;

        span {
            color: #fbbd51;
            font-size: 25px;
            font-family: Blockbe-Condensed !important;
        }
    }

    .reparto {
        text-align: left;
        padding-left: 60px;

        p {
            span {
                background-color: #c6c6c6;
                padding: 3px 7px;
                border-radius: 10px;

                a, a:hover, a:focus {
                    font-size: 12.5px;
                    text-decoration: underline;
                    color: #006068;
                }
            }

            img {
                height: 25px;
                width: auto;
            }
        }
    }

    .atencion-cliente {
        text-align: left;
        margin-bottom: 15px;
        padding-left: 50px;

        p {
            margin-bottom: 0px !important;
        }

        .ac-header {
            img {
                height: 15px;
                width: auto;
            }

            span {
                font-size: 13px;
                color: #006068;
                margin-left: 3px;
                font-family: Avenir !important;
            }
        }

        .ac-body {    
            span {
                font-size: 12px;
                color: #006068;
                font-family: Avenir-Light !important;
                padding-left: 18px;
            }
        }
    }

    .comunicate {
        text-align: left;
        margin-bottom: 15px;
        padding-left: 50px;

        p {
            margin-bottom: 3px !important;
        }

        .c-header {
            img {
                height: 15px;
                width: auto;
            }

            span {
                font-size: 13px;
                color: #006068;
                margin-left: 3px;
                font-family: Avenir !important;
            }
        }

        .c-body {    
            // span {
            //     background-color: #00c08b;
            //     padding: 3px 7px;
            //     border-radius: 10px;
            //     font-size: 12px;
            //     color: white;
            //     font-family: Avenir-Bold !important;
            // }

            background-color: #00c08b;
            padding: 8px 15px;
            border-radius: 5px;
            width: 75%;
            margin-left: 18px;
            text-align: center;

            a, a:hover, a:focus {
                font-size: 15px;
                color: white;
                font-family: Avenir !important;
            }
        }
    }
}

.nav-principal{
    /deep/ .navbar .navbar-collapse.show .navbar-nav .nav-item {
        padding-right: 0px !important;
    }
    
    /deep/ .dropdown-menu-right {
        right: 0px !important;
        left: 0px !important;
    }
    
    /deep/ div#ftco-nav {
        position: absolute;
        width: 80%;
        top: 15px;
        left: 5%;
    }
    
    /deep/ .dropdown .dropdown-menu {
        border-radius: 0px !important;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    /deep/ .dropdown-toggle::after {
        content: none !important;
    }
    
    /deep/ .dropdown-item {
        width: 30% !important;
        display: inline-block !important;
        text-align: left;
        font-size: 0.7rem !important;
        font-weight: bold;

        a {
            color: #7d7d7d;
        }

        span {
            cursor: pointer;
        }
    
        /deep/ ul {
            text-align: left;
            list-style-type: none;
            padding-left: 0px;
            text-transform: uppercase;
            margin-top: 10px;
    
            /deep/ li {
                text-transform: none;
                font-weight: 100;
            }
        }
    }
    
    /deep/ .dropdown .dropdown-menu.dropdown-danger .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-danger .dropdown-item:focus {
        background-color: transparent;
    }
    
    /deep/ .dropdown .dropdown-menu .dropdown-item:hover {
        color: #7d7d7d !important;
    }
    
    /deep/ .dropdown .dropdown-menu .dropdown-item a:hover, .dropdown .dropdown-menu .dropdown-item a:focus {
        color: #7d7d7d;
    }
}

.menu-standar {
    cursor: pointer;
    // padding-right: 15px;
    height: 13px;
}

.options-header {
    //padding-top: 8px;

    div {
        display: inline-block;
        outline: none;
    }

    .dropdown-menu {
        top: 5px;
        border-radius: 0px;
    }

    .dropdown-menu-right{
        //right: 370% !important;
        top: -10% !important;
        background-color: white !important;
        box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1) !important;

        // &.menu-login {
        //     right: 1620% !important;
        // }
    }

    /deep/ .dropdown-toggle::after {
        display: none !important;
    }

    .fa-menu {
        font-size: 25px !important;
    }

    .img-menu {
        margin-left: 5px;
        cursor: pointer;
        height: 27px;
    }

    .dropdown .dropdown-menu.dropdown-danger .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-danger .dropdown-item:focus {
        background-color: transparent !important;
        cursor: pointer;
    }

    .dropdown-item {
        color: #7d7d7d;
        
        i {
            color: #7d7d7d;
        }

        .fa-menu {
            font-size: 0.8rem !important;
        }
    }

    hr {
        margin: 0px 5px;
    }
}

/deep/ .modal-header button.close {
    margin-top: -30px;
    font-size: 40px;
    font-weight: normal;
}

/deep/ button:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
}

@media (min-width: 769px){
    /deep/ .modal-content {
        width: 80% !important;
        left: 10% !important;
    }
}

/deep/ .modal-content {

    /deep/ .modal-header {
        border-bottom: 1px solid white;
    }

    /deep/ .form-control {
        border: 0px;
        border-bottom: 1px solid black;
        border-radius: 0px;
        padding: 0px !important;
        font-size: 0.8rem;
        font-family: Avenir-Light !important;
    }

    /deep/ .modal-body {
        padding: 1.8rem;

        padding-top: 10px;

        p {
            color: #bcbcbc;
            font-weight: 500;
            text-align: center;
            font-size: 0.9rem;
        }

        button {
            width: 100%;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            font-size: 12px;
            font-weight: bold;
            border: 0px solid transparent;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 5px 0px;
            padding: 10px 0px;
        }

        .btn-gray {
            background-color: #bcbcbc !important;
            color: white !important;
        }

        .btn-red-solid {
            background-color: #DA202E !important;
            color: white !important;
        }

        .btn-blue {
            background-color: #4d6fa9 !important;
            color: white !important;
        }

        .btn-red {
            background-color: #eb492a !important;
            color: white !important;
        }
    }
}

.border-login {
    color: white;
    border-bottom: 1px solid #bcbcbc;
}

.container-border {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.register {
    text-decoration: underline;
    color: #7b7b7b !important;
    margin-top: 20px;
    font-weight: normal !important;
    margin-bottom: 10px !important;
    font-size: 13px !important;

    a {
        color: #7b7b7b !important;
    }
}

/deep/ .modal-dialog {
    padding-top: 20px;
}

.form-control:focus {
    box-shadow: none !important;
}

.user-label {
    line-height: 10px;
    padding-top: 13px;
}

.ng-invalid .ng-touched {
    border-color:#dc3545 !important;
}

.ng-touched .ng-valid{
    border-color: black !important;    
}

.error {
    color: #dc3545;
    text-align: right;
}

// input.form-control.ng-touched::placeholder {
//     color: red;
// }

.text-alert-error {
    text-align: justify !important;
    color: black !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
}

.alert-error {
    line-height: 31px;
    color: red;
}

.container-alert {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    border: 2px solid red;
    padding: 13px 0px !important;
    margin-bottom: 10px !important;
}

.nav-notice {
    background-image: url('../../../../assets/img/mascara_grupo.png');
    background-size: cover;
    background-repeat: round;
}

.nav-arrow {
    position: absolute;
    left: 8px;
}

//.menu-arrow {
    /deep/ .dropdown::after {
        content: none !important;
    }
//}
.menu-main {
    left: -50px !important;
    //position: relative;
    width: 1190px;
    border-radius: 0px !important;
    top: -3px !important;

    /deep/ .dropdown-item {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 0px !important;
        position: relative;
    }

    /deep/ .dropdown-item:first-child {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    /deep/ .dropdown-item:last-child {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    /deep/ .dropdown-item:hover {
        background-color: #00c08b !important;

        .text-first-nivel {
            color: white !important;
        }

        .arrow-right-menu {    
            i {
                color: white !important;
            }
        }
    }

    .title-menu {
        padding-left: 55px;
        font-size: 17px;
        color: #185640;
        text-decoration: underline;
        font-weight: bold;
    }

    .list-menu {
        padding-left: 0px !important;
        list-style: none;

        li::before {
            color: transparent;
            content: "\2022";
            padding-right: 0px;
            font-size: 18px;
        }

        .item-menu {
            padding-left: 40px;

            .text-first-nivel {
                //vertical-align: text-bottom;
                color: #006068;
                font-size: 12px;
            }
        }

        .arrow-right-menu {
            position: absolute;
            top: 9px;
            right: -5px;

            i {
                font-size: 12px;
                color: #00c08b;
            }
        }
    }
}

.bg-category-active {
    background-color: #f1e4e4;
}

.category-active {
    font-size: 16px;
    color: #00c08b;
    font-weight: bold;
    margin-bottom: 5px;
    // padding: 8px 0px;
    margin-left: 10px;
    // margin-top: 15px;
    display: inline-block;
    font-family: Avenir-Bold !important;

    i {
        font-size: 15px;
    }
}

.view-all-menu {
    a, a:hover, a:focus {
        color: black;
        font-size: 12px;
        text-decoration: underline;
    }
}

.category-photo {
    width: auto;
    height: 40px;
}

.view-more-products {
    text-align: center;
    margin-bottom: 20px;

    a, a:hover, a:focus {
        color: #fbbd51;
        font-size: 13px;
        font-family: Avenir-Light !important;
    }
}

.category-detail {
    list-style: none !important;
    padding-left: 0px;
    //list-style: ;

    li {
        margin-bottom: 15px;

        img {
            border-radius: 5px;
            box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1) !important;
            margin-right: 10px;
        }
    }

    li:before {
        content:"-";
        position:relative;
        left:-5px;
        color: transparent;
    }
}

.title-second-nivel {
    font-size: 15px;
    font-weight: bold;
    color: #bc3178 !important;
}

.title-third-nivel {
    font-size: 12px;
    color: #3f3f3f !important;
    // font-weight: bold;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    display: inline-block;
    font-family: Avenir-Light !important;
}

/deep/ .modal-left {
    /deep/ .modal-dialog {
        // padding-left: 0px;
        // margin-left: -0.5px;
        // padding-top: 0px;
        // width: 80%;
        // margin-top: 50px;

        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;

        /deep/ .modal-content {
            border-radius: 0px !important;
            height: 100%;
            border: 0px !important;

            /deep/ .close {
                position: absolute;
                top: 2px;
                right: 5px;
                z-index: 9999;
                color: white !important;
                opacity: 1 !important;
                font-size: 30px;
            }

            /deep/ .dropdown-item {
                //padding-top: 5px !important;
                //padding-bottom: 5px !important;
                padding-left: 0px !important;
                position: relative;
                white-space: break-spaces;
            }

            /deep/ .dropdown-item.active, .dropdown-item:active {
                background-color: transparent !important;
            }
            
            .modal-menu {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 7px;
                border-bottom: 1px solid #eae7e7;
            }

            .menu-img-user {
                width: 14%;
            }

            .menu-user {
                padding-left: 5px;
                color: #185640;
                font-size: 14px;
            }

            .bg-title-menu {
                background-image: url(../../../../assets/img/menu-right-movil.png);
                background-size: cover;
                background-repeat: round;
                height: 100px;
            }

            .category-title-menu {
                color: white !important;
                padding-left: 0px !important;
                justify-content: center;
                display: flex;
                align-items: flex-end;
                padding-bottom: 35px !important;
                font-size: 15px !important;
                border-bottom: 0px !important;
            }

            .title-menu {
                padding-left: 35px;
                font-size: 14px;
                color: #00c08b;
                // text-decoration: underline;
                font-weight: bold;
                // margin-top: 10px;
                text-transform: uppercase;
                // border-bottom: 1px solid #eae7e7;
                padding-top: 5px;
                padding-bottom: 15px;
            }
        
            .list-menu {
                padding-left: 0px !important;
                margin-bottom: 30px;
                list-style: none;
        
                li::before {
                    // color: #AAB92C;
                    color: transparent;
                    content: "\2022";
                    padding-right: 10px;
                    font-size: 18px;
                }
        
                .item-menu {
                    padding-left: 15px;
        
                    .text-first-nivel {
                        //vertical-align: text-bottom;
                        color: #006068 !important;
                        font-size: 12px;
                        display: inline;

                        a {
                            color: black !important;
                            font-weight: 400;
                        }
                    }
                }
        
                .arrow-right-menu {
                    position: absolute;
                    top: 10px;
                    right: 3px;
        
                    i {
                        font-size: 12px;
                        color: #00c08b !important;
                    }
                }
            }
        }
    }
}

.form-check.login {
    padding-left: 0px !important;

    .form-check-sign::before {
        background-color: white;
        border: 2px solid #185640 !important;
    }

    /deep/ .form-check-label input[type="checkbox"]:checked + .form-check-sign:before {
        background-color: white;
        border: 2px solid #185640;
    }

    .form-check-sign::after {
        color: #185640;
    }
}

.fa-menu:hover {
    cursor: pointer;
}

.text-recovery {
    text-align: justify !important;
    font-size: 12px !important;
}

.recovery-last {
    text-align: left !important;
    color: black !important;
    cursor: pointer !important;
}

.text-alert-success {
    text-align: justify !important;
    color: #AAB92C !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
}
.ta-recovery {
    color: #7d7d7b !important
}

.alert-success {
    line-height: 31px;
    color: #AAB92C;
    background-color: transparent;
}

.container-success {
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 5px;
    border: 2px solid #AAB92C;
    padding: 13px 0px !important;
    margin-bottom: 10px !important;
    margin-top: 20px;
}

.container-success.cs-recovery {
    border-color: #c7cda9 !important;
    background-color: #f8f9f3;
}

.centro {
    /deep/ .ng-select .ng-select-container {
        color: white;
    }

    /deep/ .ng-select .ng-select-container {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid white;
        border-radius: 0px;
        width: 80%;
    }
}

.title-recovery {
    text-align: center;
    font-size: 16px !important;
    color: #185640 !important;
    margin-top: 60px;
}

.text-forgot-pass {
    color: #005B40 !important;
    font-size: 12px  !important;
    text-decoration: underline !important;
    font-family: Avenir-Light !important;
    padding: 20px 0px !important;;
    margin-bottom: 0px !important;
}