<div class="py-1 bg-solid" style="padding-top: 1rem !important;">
    <div class="container">
        <a [routerLink]="['/Home']" class="logo-home no-display-app">
            <img src="../../../assets/img/logo_main.png" alt="" style="width: 40%;">
        </a>
        <a [routerLink]="['/Home']" class="logo-home no-display-web" style="width: 50%;">
            <img src="../../../assets/img/logo_main.png" alt="" style="width: 40%;">
        </a>
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md-6 col-6 pr-4 d-flex topper align-items-center no-pr-web">
                        
                    </div>
                    <div class="col-md-6 col-6 pr-4 d-flex topper align-items-center text-lg-right">
                        <div class="col-lg-12">
                            <div class="row d-flex">
                                <div class="col-md-12 options-header">
                                    <div ngbDropdown #myDrop1="ngbDropdown" ngbDropdownAnchor style="margin-right: 10px;" [autoClose]="false">
                                        <span *ngIf="!isLoggedIn && hideLogin" style="cursor: pointer;" class="text-login-nav" (click)="openVerticallyCentered(content)">Iniciar Sesión</span>
                                        <div class="contact-label data-user-nav" *ngIf="isLoggedIn" [style.left.px]="leftUser">
                                            <label class="name-user-nav">{{ name_user }}</label>
                                        </div>
                                        <img *ngIf="!isLoggedIn" class="img-menu" src="../../../assets/img/user.png" (click)="openVerticallyCentered(content)"> <!--(click)="$event.stopPropagation(); myDrop1.open();"-->
                                        <img *ngIf="isLoggedIn" class="img-menu" src="../../../assets/img/user.png" (click)="$event.stopPropagation(); myDrop1.open();">
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right" [ngClass]="{ 'menu-login': isLoggedIn }" (mouseleave)="$event.stopPropagation(); myDrop1.close();">
                                            <div id="logIn" class="dropdown-item" *ngIf="!isLoggedIn" (click)="openVerticallyCentered(content)">
                                                <i class="fas fa-sign-in-alt fa-menu"></i> <span>Iniciar Sesión</span>
                                            </div>

                                            <div class="dropdown-item account-web" *ngIf="isLoggedIn" [routerLink]="['/Profile']">
                                                <i class="fas fa-user-circle fa-menu"></i> <span>Mi Cuenta</span>
                                            </div>

                                            <div class="dropdown-item account-app" *ngIf="isLoggedIn" [routerLink]="['/MyAccount']">
                                                <i class="fas fa-user-circle fa-menu"></i> <span>Mi Cuenta</span>
                                            </div>
                                            <hr>
                                            <div class="dropdown-item" *ngIf="isLoggedIn" (click)="logout(); $event.stopPropagation(); myDrop1.close();">
                                                <i class="fas fa-sign-out-alt fa-menu"></i> <span>Cerrar Sesión</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="row modal-login no-margin-x">
        <div class="col-lg-5 no-padding-x cont-img-login">
            <img src="../../../assets/img/left-login.png" alt="" style="width: 100%; height: 100%;" class="img-login">
        </div>
        <div class="col-lg-7">
            <div class="modal-header">
                <img src="../../../assets/img/logo_login.png" alt="" class="logo-login">
                <button type="button" id="close" class="close" aria-label="Close" (click)="closeModalLogin(); modal.dismiss('Cross click');">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" *ngIf="view_error">
                        <div class="row container-alert">
                            <div class="col-sm-2">
                                <i class="fa fa-exclamation-circle alert-error"></i>
                            </div>

                            <div class="col-sm-10">
                                <p class="text-alert-error">{{ text_error }}</p>
                            </div>
                        </div>
                    </div>

                    <form [formGroup]="form" style="width: 100%;" *ngIf="!showRecoveryPass">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="email" class="form-control" [placeholder]="setPlaceHolderLogin()" formControlName="Email" required>
                                <div class="error" *ngIf="form.controls.Email.invalid && form.controls.Email.touched">
                                    * Campo requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Ingresa tu contraseña" formControlName="Password">
                                <div class="error" *ngIf="form.controls.Password.invalid && form.controls.Password.touched">
                                    * Campo requerido
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button class="btn-red-solid" (click)="login()">Iniciar Sesión</button>
                        </div>

                        <div class="col-sm-12">
                            <p class="text-forgot-pass" style="cursor: pointer;" (click)="activeRecovery(true)">¿Olvidaste tu contraseña?</p>
                        </div>
                    </form>

                    <form [formGroup]="formRecovery" style="width: 100%;" *ngIf="showRecoveryPass">
                        <div class="col-sm-12">
                            <p class="recovery-last" (click)="activeRecovery(false)">
                                < Regresar</p>
                        </div>

                        <div class="col-sm-12">
                            <p class="title-recovery">Recuperar Contraseña</p>
                        </div>

                        <div class="col-sm-12">
                            <p class="text-recovery">{{setPlaceHolderLoginRecuperar()}} para enviarle un correo electrónico y pueda restablecer su contraseña.</p>
                        </div>


                        <div class="col-sm-12" style="margin-top: 30px;">
                            <div class="form-group">
                                <input type="email" class="form-control" [placeholder]="setPlaceHolderLoginRecuperar()" formControlName="Email" required>
                                <div class="error" *ngIf="formRecovery.controls.Email.invalid && formRecovery.controls.Email.touched">
                                    * Campo requerido
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" *ngIf="text_success != null">
                            <div class="row container-success cs-recovery">
                                <div class="col-sm-3 d-flex v-align-flex h-align-flex">
                                    <img src="../../../../assets/img/email.png" alt="" class="width-total">
                                </div>

                                <div class="col-sm-9">
                                    <p class="ta-recovery text-alert-success">{{ text_success }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 30px;">
                            <button class="btn-red-solid" (click)="RecoveryPass()">Restablecer Contraseña</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</ng-template>
<button type="button" hidden="true" id="btnLogin" (click)="openVerticallyCentered(content)"></button>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>