/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
    font-family: Avenir;
    src: url('assets/fonts/AvenirNextLTPro-Demi.ttf') format("opentype");
}

@font-face {
    font-family: Avenir-Light;
    src: url('assets/fonts/AvenirNextLTPro-Regular.ttf') format("opentype");
}

@font-face {
    font-family: Avenir-Bold;
    src: url('assets/fonts/AvenirNextLTPro-Bold.ttf') format("opentype");
}

@font-face {
    font-family: Blockbe-Condensed;
    src: url('assets/fonts/Blockbe-Condensed.ttf') format("opentype");
}

body {
    font-family: Avenir, sans-serif !important;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
        font-family: Avenir, sans-serif !important;
    }
}

.bg-gray {
    background-color: #f3f3f3 !important;
}

.bg-solid {
    background-color: #da202e !important;
}

.bg-solid-footer {
    background-color: #005B40 !important;
}

.bg-middle {
    background-color: #bc3178 !important;
}

.bg-light {
    background-color: #f8f8f8 !important;
}

.py-1 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}

.pt-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.title-main {
    color: #f8f8f8;
    font-size: 2rem;
    cursor: pointer;
}

.nav-search {
    justify-content: center;
}

input.search {
    width: 100%;
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px 50px;
    padding-left: 20px;
    text-align: left;
    font-size: 0.8rem;
}

input.search::placeholder {
    color: #bcbcbc;
}

.container-search {
    width: 100%;
    position: relative;
}

.i-search {
    position: absolute;
    right: 10px;
    color: #bcbcbc;
    top: 7px;
    font-size: 1rem !important;
}

.contact-label {
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 3px;
    //left: -210px;

    &.move_text {
        left: -140px;
    }
}

.contact-type-user {
    position: absolute;
    top: -1px;
    right: -70px;

    img {
        width: 50px;
    }
}

.fa-menu {
    font-size: 1.5rem;
    margin-left: 5px;
    color: white;
}

.nav-middle {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.notice-text-middle {
    text-align: center;
    margin-bottom: 0px;
    font-size: 14px;
}

.notice-text-right {
    text-align: right;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 0px 15px;
    color: #d3d3d3;
}

[class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) {
    color: #7d7d7d !important;
}

.menu-content {
    justify-content: center;
}

ul.navbar-nav li {
    padding-left: 45px;
    padding-right: 45px;
}

.nav-link {
    margin: 0px !important;
}

// .cr-footer {
//     border-top: 1px solid #efecec26;
// }

.cr-footer p {
    margin: 0px;
    padding: 10px;
    color: white;
}

.d-block {
    color: white;
    font-size: 0.8rem;
}

.first-d-block {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.d-block i{
    font-size: 30px;
    padding-right: 15px;
}

.li-fa {
    margin-bottom: 10px;
}

.d-block:hover {
    color: white;
}

.slider-home {
    padding-top: 10px;
    // padding-bottom: 20px;
    border-bottom: 7px solid #f5f3f3;
}

.cat-line {
    border-bottom: 1px solid #7b7b7b;
}

.container-cat-text {
    text-align: center;
}

.cat-text {
    font-weight: 500;
}

.no-margin-x {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-padding-x {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-margin-y {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.no-padding-y {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.padding-px-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.padding-y-px-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-row {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-row-max {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.v-align-flex {
    align-items: center;
}

.h-align-flex {
    justify-content: center;
}

.hl-align-flex {
    justify-content: left;
}

.align-flex {
    align-items: center;
    justify-content: center;
}

.title-categories {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #185640;
    font-size: 22px;
    margin: 28px 0px;
}

.container-suggestions {
    //.sub-menu {
    text-align: -webkit-center;

        .suggestion {
            //width: 90%;
            margin: 5px;
            border-radius: 5px;
            border: 1px solid #bc3178;
            background-color: #bc3178;

            h2 {
                padding: 5px 0px;
                margin-bottom: 0px;

                i {
                    color: white;
                }
            }

            span {
                color: white !important;//#7d7d7d !important;
                //text-decoration: underline;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 14px;
            }
        }

        .active {
            background-color: #7d7d7d;
            
            span {
                color: white !important;
            }
        }
    //}
}

.product {
    //border: 1px solid #bcbcbc;
    box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.72);
    border-radius: 0px;
    background-color: #FFFFFF;

    // .detail-product {
    //     //justify-content: center;
    // }

    .price {
        color: #e99191;
        text-align: center;
        font-size: 14px;
    }
}

// .img-prod img {
//     height: 300px !important;
//     width: 100% !important;
// }

.card:not(.card-plain):hover {
    //box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
}

.mb-100 {
    margin-bottom: 100px;
}

.container-cont {
    position: absolute;
    left: 90%;
    top: -10%;
}

.cont-cart {
    font-size: 11px;
    border: 2px solid #F37100;
    border-radius: 51px;
    padding: 1px 5px 1px 5px;
    background-color: #F37100;
    color: white !important;
    font-weight: bold;
}

.logo-login {
    margin-top: 20px;
    width: 100px;
    margin-left: 40px;
}

.img-login {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-register {
    .form-group {
        label {
            font-weight: 600;
        }
    }
}

//Media Queries
@media (min-width: 769px){
    .tipo-subasta-app {
        display: none !important;
    }

    .options-header{
        .dropdown-menu-right.menu-login {
            right: 1620% !important;
        }
    }

    .no-padding-x-web {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .logo-home {
        position: absolute;
        z-index: 99;
        top: -1.5rem;
    }

    .no-btn-despacho-app{
        display: none !important;
    }

    .width-cupon {
        width: 50% !important;
    }

    .icon-cupon-web {
        position: fixed;
        bottom: 5%;
        right: 0%;
        z-index: 99999;

        img {
            cursor: pointer;
            width: 80px;
        }
    }

    .icon-cupon-movil {
        display: none !important;
    }

    .icon-cupon-product-web {
        position: absolute;
        top: 5%;
        z-index: 99999;
        left: 10%;

        img {
            width: 120px;
        }
    }

    .icon-cupon-product-movil {
        display: none !important;
    }

    .category-group {
        width: 12.5%;
    }

    .header-fixed-web {
        background-color: #FFF042;
        padding: 6px 0px;
    
        .txt-delivery {
            font-weight: bold;
            color: #006068;
            font-family: Avenir-Bold !important;
        }
    
        .txt-content {
            color: #006068;
        }
    }

    .header-fixed-app {
        display: none !important;
    }

    .burger-web {
        padding-right: 15px;
        cursor: pointer;
    }

    .no-pr-web {
        padding-right: 0px !important;
    }

    .pb-app {
        padding-bottom: 1rem !important;
    }

    .img-wts-web {
        position: absolute;
        left: -2px;
        height: 19px;
    }

    .img-wts-app {
        display: none !important;
    }

    .cont-cr-footer {
        background-color: #014D36;
    }

    .icon-monto-minimo {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 99999;
    }

    .nav-notice-mobile {
        display: none !important;
    }

    .nav-search-mobile {
        display: none !important;
    }

    .nav-centro-app {
        display: none !important;
    }

    .btn-filters {
        display: none !important;
    }

    .menu-app {
        display: none !important;
    }

    .methods-app {
        display: none !important;
    }

    .slider-app {
        display: none !important;
    }

    .details-price-stock {
        .pricing.through-app {
            display: none !important;
        }
    }

    .details-stock-price {
        .text-stock {
            display: none !important;
        }
    }

    .rights-app {
        display: none !important;
    }

    .banner-carousel {
        .carousel-indicators {
            li {
                padding: 6px;
            }

            li.active {
                padding: 8px !important;
            }
        }
    }

    .catalogo-app {
        display: none !important;
    }

    .btn-order-app {
        display: none !important;
    }

    .cont-order-by-app {
        display: none !important;
    }

    .title-product-cart-app {
        display: none !important;
    }

    .btn-summary-app {
        display: none !important;
    }

    .back-options {
        display: none !important;
    }

    .account-app {
        display: none !important;
    }

    .close-app {
        display: none !important;
    }

    .res-btn-payment {
        display: none !important;
    }

    .close-app-promo {
        display: none !important;
    }

    .ng-clear-wrapper {
        display: none !important;
    }

    .accordion-footer-app {
        display: none !important;
    }

    .no-display-web {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .w-app {
        width: 100% !important;
    }
    .order-by {
        display: none !important;
    }

    .order-by-app {
        display: none !important;
    }

    .logo-home {
        position: absolute;
        z-index: 99;
        top: -0.7rem;
    }

    .title-top {
        font-size: 18px !important;
    }

    .title-view-more {
        font-size: 12px !important;
        line-height: 25px;
    }
    .no-btn-despacho-web{
        display: none !important;
    }

    .width-cupon {
        width: 88% !important;
    }

    .icon-cupon-product-movil {
        position: absolute;
        top: 0%;
        left: 4%;
        z-index: 999999;

        img {
            width: 70px;
        }
    }

    .icon-cupon-product-web {
        display: none !important;
    }

    .icon-cupon-web {
        display: none !important;
    }

    .icon-cupon-movil {
        position: fixed;
        bottom: 5%;
        right: 0%;
        z-index: 99999;

        img {
            width: 80px;
        }
    }

    .bs-datepicker {
        margin-left: 120px !important;
    }

    .ng-value-label{
        color: #185640 !important;
    }

    .action-catalogo {
        font-size: 11px !important;
    }
    
    .header-fixed-web {
        display: none;
    }

    .header-fixed-app {
        background-color: #FFF042;
        padding: 5px 25px;
    
        .txt-delivery {
            font-weight: bold;
            color: #006068;
            font-family: Avenir-Bold !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .txt-content {
            color: #006068;

            .text-superior {
                font-size: 11px;
            }

            .text-inferior {
                font-size: 16px;
            }
        }
    }

    .burger-web {
        display: none !important;
    }

    .no-pl-app {
        padding-left: 0px !important;
    }

    .no-pr-app {
        padding-right: 0px !important;
    }

    .mt-1-app {
        margin-top: 0.25rem !important;
    }
    aw-wizard.horizontal .wizard-steps {
        margin-top: 0px !important;
    }

    aw-wizard-navigation-bar.horizontal.small ul.steps-indicator {
        padding-top: 35px !important;
        padding-bottom: 15px !important;
    }

    .ng-value-container {
        justify-content: center;
        text-transform: uppercase;
    }

    .pb20-app {
        padding-top: 20px !important;
    }

    .no-display-app {
        display: none !important;
    }

    .list-app {
        padding-left: 0px !important;
        text-align: center;
        margin-bottom: 0px !important;

        li {
            padding: 7px 0px !important;
        }
    }

    .accordion-footer-app {
        padding: 0px !important;

        .card {
            background-color: transparent !important;
            box-shadow: none !important;
            margin-bottom: 0px;
            border: 0px;

            .card-header {
                background-color: #005B40 !important;
                padding-top: 0px;
                padding-bottom: 0px;
                border-bottom: 0px;

                button {
                    text-align: center;
                    color: white !important;
                }

                .btn {
                    text-transform: none;
                    width: 100%;
                    font-size: 0.9rem;
                    font-family: Avenir-Light !important;
                }
            }

            .card-body {
                padding: 0px;
                background-color: #154a36 !important;
            }
        }
    }

    .pb-app {
        padding-bottom: 0px !important;
    }

    .border-section-footer {
        display: none !important;
    }

    .img-wts-app {
        // position: absolute;
        left: -2px;
        height: 19px;
    }

    .img-wts-web {
        display: none !important;
    }

    .width-total-app {
        width: 100% !important;
    }

    .icon-monto-minimo {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 99999;
    }

    .ng-clear-wrapper {
        display: none !important;
    }

    .img-recovery {
        width: 70% !important;
        margin-top: 40px;
    }

    .flex-vertical {
        background-color: #f8f8f6;

        form {
            padding: 35px 50px !important;
        }
    }

    .modal-publicidad .modal-content .view-promocion {
        background-color: white;
        padding: 6px;
        border-radius: 25px;
        color: #185640;
        text-align: center;
        border-color: transparent;
        position: absolute;
        width: 200px;
        right: 30px;
        bottom: 20px;
    }

    .img-publicidad {
        width: 100%;
    }

    .address-saved, .save-direction {
        font-size: 11px !important;
    }

    .account-web {
        display: none !important;
    }

    .back-options {
        margin-bottom: 20px;

        span {
            color: #375D46;
            cursor: pointer;
            background-color: #F8F8F6;
            padding: 8px 11px;
            border-radius: 5px;
        }
    }

    .bg-gray-app {
        background-color: #f3f3f3 !important;
        padding-bottom: 10px;
    }

    .no-padding-top-app {
        padding-top: 0px !important;
    }

    .container-detail-general {
        .container-img {
            .img-detail {
                width: 100% !important;
                height: auto !important;
            }
        }
    }

    .header-detail-left {
        text-align: left !important;

        .status_order {
            margin: 5px 0px !important;
            color: #6db75e !important;
            background-color: transparent !important;
            padding: 0px !important;
            font-size: 12px !important;
        }
    }

    .options-profile-web {
        display: none !important;
    }

    .cart-detail {
        .list-orders {
            .card-order-img {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-height: 80px;
                    width: 100%;
                }
            }
        }
    }

    .close-summary-app {
        width: auto !important;
        position: absolute;
        top: -15px;
        right: 25px;
        font-size: 30px !important;
    }

    .close-app {
        position: absolute;
        top: 60px;
        right: 40px;
        font-size: 30px !important;
        background-color: transparent !important;
        color: black !important;
    }

    .close-app-promo {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 30px !important;
        background-color: transparent !important;
        color: black !important;
    }
    .close-web {
        display: none !important;
    }

    .res-web {
        display: none !important;
    }

    .total-width-app {
        width: 100% !important;
        padding: 15px 0px !important;
        height: 54px !important;
    }

    .padding-x-app {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .no-padding-x-app {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .no-padding-right-app {
        padding-right: 0px !important;
    }

    .no-padding-left-app {
        padding-left: 0px !important;
    }

    .padding-left-10-app {
        padding-left: 10px !important;
    }

    .no-padding-y-app {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .no-padding-5x-app {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .d-flex-vertical-align-app {
        display: flex;
        align-items: center;
    }

    .text-horario, .text-fechalugar {
        font-size: 10px !important;
    }

    .btn-view-more {
        width: 90%;
        font-size: 10px !important;
    }

    .catalogo-web {
        display: none !important;
    }

    .container-product-catalogo {
        /deep/ .product {
            border-radius: 0px !important;
            box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3) !important;
        }
    }

    .sub-menu {
        p {
            font-size: 15px !important;
        }
    }

    .tipo-subasta-web {
        display: none !important;
    }

    .tipo-subasta-app {
        background-color: #5da142;

        .container-active {
            background-color: white !important;
            /* color: #006068; */
            border-top-left-radius: 15px !important;
            border-top-right-radius: 15px !important;

            a.link-category {
                color: #006068 !important;
                font-weight: bold;
                text-transform: uppercase !important;
                font-size: 14px !important;
            }
        }

        .container-type-subasta {
            background-color: transparent;
            text-align: center;
            padding: 10px;
            border-radius: 0px;
            cursor: pointer;

            .link-category {
                color: white !important;
                font-family: Avenir-Light !important;
                font-size: 14px !important;
                padding-left: 5px;
                display: block;
                text-transform: uppercase !important;
            }
        }
    }

    .catalogo-app {
        .info-product {
            padding: 25px 0px;

            .detail-product {
                justify-content: flex-start !important;

                .sub-menu {
                    p {
                        font-size: 17px !important;
                        max-width: 180px !important;
                    }
                }
            }

            .rating-product {
                text-align: left !important;

                /deep/ ngb-rating span {
                    color: #f7a51b;
                    font-size: 10px;
                }
            }

            .text-stock {
                text-align: left !important;
                width: 100% !important;

                .in-stock, .spent {
                    text-align: left !important;
                }
            }

            .through {
                padding-left: 10px !important;
            }
        }

        .image-product {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 140px;
            }
        }
    }

    .product-data-order {
        .btn-order-web {
            display: none !important;
        }
    }

    .btn-order-app {
        margin-top: 15px;
    }

    .promo-detail {
        display: none !important;
    }

    .cont-img-login {
        display: none !important;
    }

    .nav-centro-web {
        display: none !important;
    }

    .nav-centro-app {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;

        .label-centro {
            color: #185640;
        }

        /deep/ .ng-placeholder {
            color: #185640 !important;
        }

        /deep/ .ng-select .ng-select-container {
            color: #185640 !important;
            border-bottom: 1px solid #185640 !important;
        }

        /deep/ .ng-select .ng-clear-wrapper {
            display: none !important;
        }
    }

    .text-login-nav {
        display: none !important;
    }

    .text-cart-nav {
        display: none !important;
    }

    .data-user-nav {
        display: none !important;
    }

    .rights-web {
        display: none !important;
    }

    .banner-carousel {
        .carousel-indicators {
            li {
                padding: 4px;
            }

            li.active {
                padding: 6px !important;
            }
        }
    }

    .panel-app {
        padding: 0px 10px;

        /deep/ i {
            font-size: 15px;
            padding-right: 15px;
        }
    }

    .container-promo {
        .img-promo {
            width: 300px !important;
        }
    }

    .about_us {
        height: 520px !important;
    }

    .slider-web {
        display: none !important;
    }

    .container-product-top.product-top-app .img-prod img {
        height: auto !important;
        width: 100% !important;
    }

    .products-rel {
        .title-qual {
            text-align: center !important;
        }

        .scroll-rel {
            overflow-x: auto;
    
            .max-size-rel {
                width: 480px !important;
        
                .container-prod-rel {
                    width: 160px !important;
    
                    .img-prod {
                        img {
                            width: 100% !important;
                            height: 120px !important;
                        }
                    }
    
                    .detail-product {
                        justify-content: flex-start !important;
        
                        .sub-menu {
                            p {
                                max-width: 115px !important;
                                font-size: 13px !important;
                            }
                        }
                    }
        
                    .rating-product {
                        text-align: center !important;
        
                        /deep/ ngb-rating span {
                            color: #f7a51b;
                            font-size: 0.8rem !important;
                        }
                    }
        
                    .details-price-stock {
                        .text-stock {
                            display: none !important;
                        }
            
                        .pricing.through-app {
                            text-align: right !important;
            
                            .price {
                                text-align: right !important;
                                .through {
                                    text-align: right !important;
                                }
                            }
                        }
                    }
            
                    .details-stock-price {
                        .pricing {
                            display: none !important;
                        }
            
                        .text-stock {
                            width: 100% !important;
            
                            .in-stock, .spent {
                                text-align: center !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .title-product-cart-web {
        display: none !important;
    }

    .modal-confirm .modal-body .container-img .img-dproduct {
        max-height: 95px !important;
        max-width: 100%;
    }

    .scroll-top-app {
        overflow-x: auto;

        .max-size-top-app {
            width: 1360px;
        }
    }

    .scroll-promo-app {
        overflow-x: auto;

        .promos-app {
            width: 610px;
        }
    }

    .container-product-top.product-top-app {
        width: 170px;

        .detail-product {
            .sub-menu {
                p {
                    max-width: 125px !important;
                    font-size: 13px !important;
                }
            }
        }

        .details-price-stock {
            .text-stock {
                display: none !important;
            }

            .pricing.through-app {
                text-align: right !important;

                .price {
                    text-align: right !important;
                    .through {
                        text-align: right !important;
                    }
                }
            }
        }

        .details-stock-price {
            .pricing {
                display: none !important;
            }

            .text-stock {
                width: 100% !important;

                .in-stock, .spent {
                    text-align: center !important;
                }
            }
        }
    }

    .list-orders {
        .padding-web {
            display: none !important;
        }

        .container-desc-orders {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        h3.title-product {
            font-size: 14px !important;
        }
    }

    .methods-web {
        display: none !important;
    }

    .methods-app {
        .row{
            justify-content: center;
        }
    }

    .bg-white-app {
        background-color: white !important;
    }

    .cart-empty {
        text-align: center;
    
        img {
            width: 80%;
            height: auto !important;
        }
    }
    
    .link-filters {
        display: none !important;
    }

    .menu-standar {
        display: none !important;
    }

    .d-block i {
        font-size: 15px !important;
    }

    .filters-mobile {
        button#close {
            position: absolute;
            top: -10px;
            left: 40%;
            font-size: 35px;
        }

        .title-filters-mobile {
           margin: 10px 0px;
           font-size: 20px !important;
           color: #006068 !important;
           width: 100%;
           font-weight: bold  !important;
        }
        
        .card {
            box-shadow: none !important;
    
            .card-header {
                border-top: 0px !important;
                border-bottom: 0px !important;
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
    
            .collapse {
                background-color: white;
            }
    
            .btn-link {
                border-bottom: 1px solid #616160 !important;
                color: #616160 !important;
                font-size: 15px;
                padding-left: 20px !important;
                text-align: left;
            }
    
            .btn-link:hover {
                text-decoration: none !important;
            }
    
            // .form-check-radio {
            //     border-bottom: 1px solid #ccc5c5;
            // }
    
            .form-check-radio input[type="radio"]:checked + .form-check-sign::after {
                color: #AAB92C;
            }
        }
    }

    .container-filters {
        display: none !important;
    }

    .catalogo {
        .heading {
            display: none !important;
        }

        .item-catalogo {
            &.mt-5 {
                margin-top: 0px !important;
            }
        }

        .btn-filters {
            width: 100%;
            color: #185640;
            background-color: white;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid white;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 20px 0px;
            text-transform: uppercase;
            margin-bottom: 0px;
        }

        .order-by-app {
            /deep/.ng-select-container {
                color: #185640;
                background-color: transparent;
                border: 1px solid #185640;
                border-radius: 10px;
                font-size: 16px;
                padding-top: 22px;
                padding-bottom: 22px;
                margin: 20px 0px;
                margin-bottom: 0px;
            }
        }

        .link-category {
            padding-left: 0px !important;
        }
    }

    .order-by {
        display: none !important;
        width: 60% !important;
        left: 15px;

        option {
            font-size: 12px;
            width: 50%;
        }
    }

    .container-register {
        &.mt-5 {
            margin-top: 20px !important;
        }
        .title-form-register {
            border-bottom: 0px !important;
            padding-bottom: 0px !important;
        }
    
        .form-register{
            padding: 30px 20px !important;
        }
    
        .btn-register button {
            width: 100% !important;
        }
    }

    .options-header{
        text-align: right;

        .dropdown-menu-right.menu-login {
            right: 330% !important;
        }
    }

    .modal-content {
        width: 100% !important;
        left: 0 !important;

        .modal-login {
            .no-padding-x {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            .logo-login {
                margin-top: 30px;
                width: 150px;
            }

            .img-login {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }

    .container-search {
        width: 100%;
        margin: 10px 0px;

        input.search {
            width: 100%;
        }
    }

    .carousel-inner .carousel-item img {
        height: 250px !important;
    }

    .nav-search {
        display: none !important;
    }

    .user-label {
        display: none !important;
    }

    .nav-notice {
        display: none !important;
    }

    .nav-notice-mobile {
        .notice-text-middle {
            color: #8A00C3 !important;
            font-size: 10px !important;
        }
    }

    // .category-wraper {
    //     width: 100%;
    //     overflow-x: auto;
    
    //     .size-cont-category {
    //         width: 2000px;
    //     }

    //     .suggestion {
    //         width: 150px !important;
    //     }
    // }
    .footer-section {
        .logo-footer {
            padding-bottom: 15px;
            //display: none !important;
            .logo-danper {
                display: flex;
                justify-content: center;
            }
        }

        .logo-social {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .data-legal {
            .list-unstyled {
                padding-left: 0px !important;

                .d-block {
                    text-align: center;
                    font-size: 15px !important;
                    border-top: 1px solid #a1a585;
                    border-bottom: 1px solid #a1a585;
                    padding: 15px 0px;
                }

                .d-block:last-child {
                    border-top: 0px;
                    border-bottom: 1px solid #a1a585 !important;
                }
            }
        }

        .logos-visa {
            justify-content: center;
        }

        .text-visa {
            font-size: 14px !important;
            text-align: center !important;
            padding: 6px 0px;
        }

        .compl-book {
            .list-unstyled {
                padding-left: 0px !important;

                .d-flex {
                    justify-content: center !important;
                }
            }
        }

        .ml-5, .ml-4 {
            margin-left: 0px !important;
        }

        .list-unstyled {
            padding-left: 25px;
        }

        .d-block i {
            font-size: 20px;
        }

        .plm-red-social {
            padding-left: 35px;
        }

        .cr-footer {
            border-top: 0px !important;

            p {
                font-size: 10px;
            }
        }
    }
}

//keyframes
.bounce-cupon {
    animation-name: bounce_cupon;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes bounce_cupon {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.bg-white {
    background-color: white;
}

.recovery_flex {
    flex: 1;
    //background-color: #f0f3d7;
}

@media (min-width: 1200px) {
    .container-recovery {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.width-total {
    width: 100%;
}

.title-doc {
    font-family: Avenir-Bold !important;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
}

.content-doc {
    margin: 30px 0px;

    .paragraph-doc {
        font-family: Avenir-Light !important;
        text-align: justify;
        font-size: 16px;
    }

    .list-bullets {
        .element-list-bullets {
            font-family: Avenir-Light !important;
            padding-left: 10px;
            text-align: justify;
            font-size: 16px;
        }
    }

    .sublist-bullets {
        list-style: disc;

        .element-sublist-bullets {
            .content-element-sublist-bullets {
                font-family: Avenir-Light !important;
                text-align: justify;
                font-size: 16px;
                margin-bottom: 5px;

                .title-sublist-bullets {
                    text-decoration: underline;
                }
            }
        }
    }

    .list-letters {
        .element-list-letters {
            font-family: Avenir-Light !important;
            padding-left: 10px;
            text-align: justify;
            font-size: 16px;
        }
    }

    .list-numbers {
        .element-list-numbers {
            text-align: justify;
            font-size: 16px;
            padding-left: 10px;

            .title-element-list {
                font-family: Avenir-Bold !important;
                margin-bottom: 15px;
                font-size: 16px;
            }

            .content-element-list {
                font-family: Avenir-Light !important;
                font-size: 16px;
            }
        }
    }

    .element-list-numbers {
        .sublist-numbers {
            .element-sublist-numbers {
                font-family: Avenir-Light !important;
                    text-align: justify;
                    font-size: 16px;
                    margin-bottom: 5px;

                .title-element-sublist-numbers {
                    font-family: Avenir-Light !important;
                    text-align: justify;
                    font-size: 16px;
                    margin-bottom: 5px;
                    padding-left: 5px;
                }
                
                .sub-sublist-roman-numbers {
                    .element-sub-sublist-roman-numbers {
                        font-family: Avenir-Light !important;
                        text-align: justify;
                        font-size: 16px;
                        margin-bottom: 5px;
                        padding-left: 10px;
                    }

                    .element-sub-sublist-roman-numbers p {
                        font-family: Avenir-Light !important;
                        text-align: justify;
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .title-element-list {
            font-family: Avenir-Light !important;
            text-align: justify;
            font-size: 16px;
        }
    }

    .sublist-letters {
        .element-sublist-letters {
            .title-element-content-sublist-letters {
                font-family: Avenir-Light !important;
                text-align: justify;
                font-size: 16px;
                padding-left: 10px;
            }

            .content-element-sublist-letters {
                font-family: Avenir-Light !important;
                text-align: justify;
                font-size: 16px;
                padding-left: 10px;
            }
        }
    }

    .sub-sublist-bullets {
        list-style: disc;

        .element-sub-sublist-bullets {
            font-family: Avenir-Light !important;
            text-align: justify;
            font-size: 16px;
            margin-bottom: 5px;
            padding-left: 10px;
        }

        .element-sub-sublist-bullets p {
            font-family: Avenir-Light !important;
            text-align: justify;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    .strong {
        font-family: Avenir-Bold !important;
    }

    .footer-doc {
        font-family: Avenir-Bold !important;
        text-align: center;
    }

    .border-total {
        border: 1px solid;
        text-align: center;
    }

    .table-cobertura {
        display: flex;
        justify-content: start;
        margin: 15px 0px;
    }

    .th-cobertura {
        width: 90px;
        font-family: Avenir-Bold !important;
        font-size: 16px;
    }

    .td-cobertura {
        font-family: Avenir-Light !important;
        font-size: 16px;
    }

    .no-border {
        border: 0px;
        width: 150px;
        text-align: center;
        font-family: Avenir-Light !important;
    }

    .title-table {
        font-family: Avenir-Bold !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .subtitle-table {
        font-family: Avenir-Light !important;
        text-align: left;
    }

    .italics {
        font-style: italic;
    }
}

.ponter-none {
    pointer-events: none !important;
}

.fixed {
    position: fixed;
    z-index: 9999999;
    width: 100%;
}

.owl-prev {
    content: url('assets/img/previous.png');
    background-color: transparent !important;
    position: absolute;
    left: -10%;
    width: 50px;
    bottom: 50%;
}

.owl-next {
    content: url('assets/img/next.png');
    background-color: transparent !important;
    position: absolute;
    right: -10%;
    width: 50px;
    bottom: 50%;
}

.padding-x25-web {
    padding-right: 25px;
    padding-left: 25px;
}